@charset "UTF-8";
@import "variable.scss";

@mixin hover-element() {
    border-color: $stateHoverBorderColor;
    background: $stateHoverBgColor;
    color: $stateHoverTextColor;
    
    a {
        color: $stateHoverTextColor;
    }
}

@mixin icon-override($icon) {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    
    &:before {
        content: $icon;
    }
}

.ui-widget { 
    font-family:  $fontFamily; 
    font-size: $fontSize; 
    
    input, select, textarea, button {
        font-family:  $fontFamily; 
        font-size: $fontSize; 
    }
    
    :active {
        outline: none;
    }
}

.ui-widget-content { 
    border: $contentBorderWidth solid $contentBorderColor; 
    background: $contentBgColor; 
    color: $contentTextColor;
    
    a {
        color: $contentTextColor;
    }
}

.ui-widget-header {
    border: $headerBorderWidth solid $headerBorderColor; 
    background: $headerBgColor; 
    color: $headerTextColor; 
    font-weight: $headerFontWeight; 
    
    a {
        color: $headerTextColor; 
    }
}

.ui-widget-overlay { 
    background: #666666; 
    opacity: .50; 
    filter:Alpha(Opacity=50); 
}

.ui-state-default { 
    border: $stateDefaultBorderWidth solid $stateDefaultBorderColor; 
    background: $stateDefaultBgColor; 
    color: $stateDefaultTextColor;
    
    a {
        color: $stateDefaultTextColor ;
    }
}

.ui-state-active {
    border-color: $stateActiveBorderColor;
    background: $stateActiveBgColor; 
    color: $stateActiveTextColor; 
    
    a {
        color: $stateActiveTextColor;
    }
}

.ui-state-highlight  {
    border-color: $stateHighlightBorderColor;
    background: $stateHighlightBgColor;
    color: $stateHighlightTextColor;
    
    a {
        color: $stateHighlightTextColor;
    }
}

.ui-state-focus {
    // border-color: $stateFocusBorderColor;
    // background: $stateFocusBgColor;
    // color: $stateFocusTextColor;
    
    a {
        color: $stateFocusTextColor;
    }
}

.ui-state-error {
    border-color: $stateErrorBorderColor;
    background: $stateErrorBgColor;
    color: $stateErrorTextColor;
    
    a {
        color: $stateErrorTextColor;
    }
}

.ui-state-disabled,
.ui-widget:disabled {
    opacity: $disabledOpacity; 
    filter: Alpha(Opacity= $disabledOpacity * 100); 
    background-image: none; 
    cursor: default !important;
    
    * {
        cursor: default !important;
    }
}

/* Forms */
.ui-inputtext {
    background: $inputBgColor;
    color: $inputTextColor;
}

// .ui-inputtext:enabled:hover {
//     border-color: $stateHoverBorderColor;
// }

.ui-inputtext.ui-state-focus,
.ui-inputtext:focus {
    outline: 0 none;
    border-color: $stateFocusBorderColor;
    // -moz-box-shadow: 0px 0px 5px $stateFocusBorderColor;
    // -webkit-box-shadow: 0px 0px 5px $stateFocusBorderColor;
    // box-shadow: 0px 0px 5px $stateFocusBorderColor;
}

.ui-inputgroup {
    .ui-inputgroup-addon  {
        border-color: $stateDefaultBorderColor;
        background-color: lighten($stateDefaultBorderColor, 10%);
        color: $inputGroupTextColor;
        
        &:first-child {
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }
        
        &:last-child {
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
    
    .ui-button {
        &:first-child {
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }
        
        &:last-child {
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
}

.ui-autocomplete {
    .ui-autocomplete-multiple-container:not(.ui-state-disabled) {
        &:hover {
            border-color: $stateHoverBorderColor;
        }
        
        &.ui-state-focus {
            border-color: $stateFocusBorderColor;
            
        }
    }
}

.ui-chips {
    > ul:not(.ui-state-disabled) {
        &:hover {
            border-color: $stateHoverBorderColor;
        }
        
        &.ui-state-focus {
            border-color: $stateFocusBorderColor;
        }
    }
}

// .ui-button:focus,
.ui-button:enabled:hover,
.ui-fileupload-choose:not(.ui-state-disabled):hover {
    outline: 0 none;
    @include hover-element();
}

.ui-button:enabled:active,
.ui-fileupload-choose:not(.ui-state-disabled):active {
    border-color: $stateActiveBorderColor;
    background: $stateActiveBgColor; 
    color: $stateActiveTextColor;
}

.ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    @include hover-element();
}

.ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    @include hover-element();
}

.ui-dropdown:not(.ui-state-disabled):hover {
    @include hover-element();
}

.ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover {
    @include hover-element();
}

.ui-listbox {
    .ui-listbox-header {
        .ui-listbox-filter-container {
            .fa {
                color: $inputTextColor;
            }
        }
    }
    
    &:not(.ui-state-disabled) {
        .ui-listbox-item:not(.ui-state-highlight):hover {
            @include hover-element();
        }
    }
    
    &.ui-state-disabled {
        .ui-chkbox-box:not(.ui-state-active):hover {
            border-color: $stateDefaultBorderColor; 
            background: $stateDefaultBgColor; 
            color: $stateDefaultTextColor;
        }
    }
}

.ui-multiselect:not(.ui-state-disabled):hover {
    @include hover-element();
}

.ui-multiselect-panel .ui-multiselect-item:not(.ui-state-highlight):hover {
    @include hover-element();
}

.ui-multiselect-panel .ui-multiselect-close {
    color: $headerIconTextColor;
}

.ui-multiselect-panel .ui-multiselect-filter-container .fa {
    color: $inputTextColor;
}

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:hover {
    @include hover-element();
}

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:active {
    border-color: $stateActiveBorderColor;
    background: $stateActiveBgColor; 
    color: $stateActiveTextColor;
}

.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    @include hover-element();
}

.ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
    @include hover-element();
}

.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
    @include hover-element();
}

.ui-datatable {
    .ui-rowgroup-header a {
        color: $headerTextColor;
    }
    
    .ui-sortable-column:not(.ui-state-active):hover {
        background: $stateHoverBgColor;
        color: $stateHoverTextColor;
    }
    
    .ui-row-toggler {
        color: $contentTextColor;
    }
    
    tbody.ui-datatable-hoverable-rows {
        > tr.ui-widget-content:not(.ui-state-highlight):hover {
            cursor: pointer;
            background: $stateHoverBgColor;
            color: $stateHoverTextColor;
        }
    }

    .ui-datatable-thead>tr{
        th{
            padding:.5em .8em;
        }
    }

    .ui-datatable-data>tr{
        td{
            padding:.5em .8em;
        }
    }
   
}

.ui-orderlist {
    .ui-orderlist-item:not(.ui-state-highlight):hover {
        @include hover-element();
    }
}

.ui-picklist {
    .ui-picklist-item:not(.ui-state-highlight):hover {
        @include hover-element();
    }
    
    .ui-picklist-droppoint-highlight {
        border-color: $stateHighlightBorderColor;
        background: $stateHighlightBgColor;
        color: darken($contentTextColor,1%);
        
        a {
            color: darken($contentTextColor,1%);
        }
    }
    
    .ui-picklist-highlight {
        border-color: $stateHighlightBorderColor;
        color: darken($contentTextColor,1%);
        
        a {
            color: darken($contentTextColor,1%);
        }
    }
}

.ui-tree {
    &.ui-treenode-dragover {
        border-color: $stateHighlightBorderColor;
    }
    
    .ui-treenode-content {
        &.ui-treenode-selectable {
            .ui-treenode-label:not(.ui-state-highlight):hover {
                @include hover-element();
            }
        }
        
        &.ui-treenode-dragover {
            background: $stateActiveBgColor;
            color: $stateActiveTextColor;
        }
    }
    
    &.ui-tree-horizontal {
        .ui-treenode-content.ui-treenode-selectable {
            .ui-treenode-label:not(.ui-state-highlight):hover {
                background-color: inherit;
                color: inherit;
            }
            
            &:not(.ui-state-highlight):hover {
                @include hover-element();
            }
        }
    }
}

.ui-treetable {
    .ui-treetable-row.ui-treetable-row-selectable:not(.ui-state-highlight):hover {
        background: $stateHoverBgColor;
        color: $stateHoverTextColor;
    }
}

.ui-organizationchart {
    .ui-organizationchart-node-content {
        &.ui-organizationchart-selectable-node:not(.ui-state-highlight):hover {
            @include hover-element();
        }
    }
}

.ui-accordion {
    .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
        @include hover-element();
    }
}

.ui-fieldset {
    &.ui-fieldset-toggleable {
        .ui-fieldset-legend:hover {
            @include hover-element();
        }
    }
}

.ui-panel {
    .ui-panel-titlebar {
        .ui-panel-titlebar-icon:hover {
            @include hover-element();
        }
    }
}

.ui-tabview {
    .ui-tabview-nav {        
        li {            
            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                @include hover-element();
            }
        }
    }
}

.ui-dialog {
    .ui-dialog-titlebar-icon {
        color: $headerTextColor;
        
        &:hover {
            @include hover-element();
        }
    }
}

.ui-overlaypanel {
    .ui-overlaypanel-close:hover {
        @include hover-element();
    }
}

.ui-inplace {
    .ui-inplace-display:hover {
        @include hover-element();
    }
}

.ui-breadcrumb {
    a {
        color: $headerTextColor;
    }
}

.ui-menu {
    .ui-menuitem {
        .ui-menuitem-link {
            color: $contentTextColor;

            &:hover {
                @include hover-element();
                border-color: transparent;
            }
        }
        
        &.ui-menuitem-active {
            > .ui-menuitem-link {
                @include hover-element();
                border-color: transparent;
            }
        }
    }
}

.ui-tabmenu {
    .ui-tabmenu-nav {
        li:not(.ui-state-active):hover {
            @include hover-element();
        }
    }
}

.ui-steps {
    .ui-steps-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
        @include hover-element();
    }
}

.ui-panelmenu {
    .ui-panelmenu-header {
        &:not(.ui-state-active):hover {
            @include hover-element();
            border-color: $stateDefaultBorderColor;
            
            a {
                color: $stateHoverTextColor;
            }
        }
        
        &.ui-state-active {
            a {
                color: $stateActiveTextColor;
            }
        }
    }
    
    .ui-panelmenu-content {
        .ui-menuitem-link {
            color: $contentTextColor;
            
            &:hover {
                @include hover-element();
                border-color: transparent;
            }
        }
    }
}

.ui-datepicker {
    .ui-datepicker-header {
        a {
            color: $headerTextColor;
            
            &:hover {
                @include hover-element();
            }
        }
    }
    
    .ui-datepicker-calendar {
        td:not(.ui-state-disabled) {
            a:hover {
                @include hover-element();
            }            
        }
    }
}

.fc {
    .fc-toolbar {
        .fc-prev-button {
            .ui-icon-circle-triangle-w {
                margin-top: .3em;
                @include icon_override("\f053");
            }
        }
        
        .fc-next-button {
            .ui-icon-circle-triangle-e {
                margin-top: .3em;
                @include icon_override("\f054");
            }
        }
    }
}

.ui-rating {
    a {
        color: $inputTextColor;
    }
}

.ui-organizationchart {
    .ui-organizationchart-line-down {
        background-color: darken($contentBorderColor, 10%);
    }
    
    .ui-organizationchart-line-left {
        border-right: 1px solid darken($contentBorderColor, 10%);
    }
    
    .ui-organizationchart-line-right {
        
    }
    
    .ui-organizationchart-line-top {
        border-top: 1px solid darken($contentBorderColor, 10%);
    }
    
    .ui-organizationchart-node-content {
        border-color: darken($contentBorderColor, 10%);
    }
    
    .ui-organizationchart-node-content .ui-node-toggler {
        color: darken($contentBorderColor, 10%);
    }
} 

/* Validation */
.ui-inputtext.ng-dirty.ng-invalid,
p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
p-calendar.ng-dirty.ng-invalid > .ui-inputtext,
p-chips.ng-dirty.ng-invalid > .ui-inputtext,
p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
p-listbox.ng-dirty.ng-invalid .ui-inputtext,
p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
p-selectbutton.ng-dirty.ng-invalid .ui-button,
p-togglebutton.ng-dirty.ng-invalid .ui-button {
    border-bottom-color: $invalidInputBorderColor;
}

/* Cornering */
.ui-corner-tl { -moz-border-radius-topleft: $borderRadius; -webkit-border-top-left-radius: $borderRadius; border-top-left-radius: $borderRadius; }
.ui-corner-tr { -moz-border-radius-topright: $borderRadius; -webkit-border-top-right-radius: $borderRadius; border-top-right-radius: $borderRadius; }
.ui-corner-bl { -moz-border-radius-bottomleft: $borderRadius; -webkit-border-bottom-left-radius: $borderRadius; border-bottom-left-radius: $borderRadius; }
.ui-corner-br { -moz-border-radius-bottomright: $borderRadius; -webkit-border-bottom-right-radius: $borderRadius; border-bottom-right-radius: $borderRadius; }
.ui-corner-top { -moz-border-radius-topleft: $borderRadius; -webkit-border-top-left-radius: $borderRadius; border-top-left-radius: $borderRadius; -moz-border-radius-topright: $borderRadius; -webkit-border-top-right-radius: $borderRadius; border-top-right-radius: $borderRadius; }
.ui-corner-bottom { -moz-border-radius-bottomleft: $borderRadius; -webkit-border-bottom-left-radius: $borderRadius; border-bottom-left-radius: $borderRadius; -moz-border-radius-bottomright: $borderRadius; -webkit-border-bottom-right-radius: $borderRadius; border-bottom-right-radius: $borderRadius; }
.ui-corner-right {  -moz-border-radius-topright: $borderRadius; -webkit-border-top-right-radius: $borderRadius; border-top-right-radius: $borderRadius; -moz-border-radius-bottomright: $borderRadius; -webkit-border-bottom-right-radius: $borderRadius; border-bottom-right-radius: $borderRadius; }
.ui-corner-left { -moz-border-radius-topleft: $borderRadius; -webkit-border-top-left-radius: $borderRadius; border-top-left-radius: $borderRadius; -moz-border-radius-bottomleft: $borderRadius; -webkit-border-bottom-left-radius: $borderRadius; border-bottom-left-radius: $borderRadius; }
.ui-corner-all { -moz-border-radius: $borderRadius; -webkit-border-radius: $borderRadius; border-radius: $borderRadius; }

/******************************** 自定义样式 start ******************************/
html {height: 100%;}

body {
    margin: 0px;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Microsoft YaHei",helvetica, arial, verdana, sans-serif;
    font-weight: normal;
    color: #404C51;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    background-color: #f4f4f4;
}

.ui-tabview {
    border: 0;
    background: transparent;
    .ui-tabview-panel{       
        margin-top: 20px;
        padding: 0;
        border-radius: 4px;    
        section{
            h5{
                text-align: right;
                color: #9b9b9b;
            }
        } 
    }
    .ui-tabview-nav {
        border: 0;
        padding: 0 !important;
        background: transparent;        
        li{
            margin: 0;
            padding: 0 10px; 
            border-radius: 20px;                
            border: 1px solid transparent;
            background: transparent;
            font-weight: 400;           
             &:not(.ui-state-active):not(.ui-state-disabled):hover {
                background-color: transparent;
                border: 1px solid transparent;
                color: #0099e0;               
                a{
                    color: #0099e0;
                }
            }
            a{
               span.ui-tabview-left-icon{margin-right:5px;}
            }
            span.ui-tabview-close{color: #404447;}
        }

        li.ui-state-active{
            background: #fbfbfb;
            border: 1px solid #e1e3e4;                 
            a{
                color: #404447;
            }
        }        
    }

    .ui-tabview-panels{
        .ui-widget-header{
            border: 0;
            color: #404447;
            font-weight: 400;
            background: #fbfbfb;
            li{
                a{color: #404447;}                 
            }
            li.ui-state-active{
                 a.ui-menuitem-link{
                    color: #fff;
                } 
            }
        }
        // 面包屑样式覆盖
        .ui-breadcrumb{
            background: #fbfbfb;
            li{
                padding: .2em;
                a:hover{
                    color:#3b55e7;
                }
            }
        }

        //tabmenu 头部样式覆盖
        // .ui-tabmenu-nav{
        //     background: transparent;
        //     li.ui-tabmenuitem{
        //         border-color: #e1e3e4;
        //         a:hover{
        //             background: #fbfbfb;
        //             color: #3b55e7;
        //             border-radius: 0;
        //         }
        //     }
        // }

        .ui-tabmenu{
            background: transparent;
            border: 0;
        }

        // 分层菜单样式覆盖
        .ui-tieredmenu{
            border:0;
            .ui-menu-list{
                box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
                li.ui-menuitem{
                    margin: .25em 0;
                    a.ui-menuitem-link{
                        padding: .5em;
                    }
                    a:hover{
                        background: #fbfbfb;
                        color: #3b55e7;
                    }
                    ul.ui-menu-child{
                        border: 0;
                    }
                }
                li.ui-menuitem-active{
                    > .ui-menuitem-link{
                     background: #fbfbfb;
                     color: #3b55e7;}
                }
            }
            .ui-submenu{
                .ui-shadow {
                    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
                }
            }
        }
        // 弹出模式分层菜单样式覆盖
       .ui-tieredmenu.ui-menu-dynamic{box-shadow: none;}      
       .ui-menu {
            .ui-menuitem {
                .ui-menuitem-link:hover {
                    background: #b2cef8;
                    color: #3b55e7;
                    border-color: transparent;
                } 
            }
       }
    }
} 

// mega菜单样式覆盖
.ui-megamenu{
    border: 0;          
    .ui-menuitem{
            .ui-megamenu-panel.ui-menu-child{
                border:0;
                .ui-menu-list{
                    .ui-widget-header{
                        background: #e6eefe;
                        color: #3b55e7;
                    }
                    .ui-menuitem{
                        .ui-menuitem-link:hover{
                            background: #b2cef8;
                        }                           
                    }
                }
            }
    }  
    .ui-menuitem.ui-menuitem-active {
        a.ui-submenu-link{
            background: #fbfbfb;
            color: #3b55e7;
        }  
    } 
}

.ui-tree{
    .ui-treenode{
        padding: .35em 0 0;
       .ui-treenode-content.ui-treenode-selectable{
            .ui-treenode-label:not(.ui-state-highlight):hover {
                border-color: #fbfbfb;
                background:transparent;
                color: #3b55e7;
            }
       } 
    }
}

/* 进度条样式优化 */
.ui-progressbar{
    border-radius: 8px !important;
    height: 1em;
    line-height: 1em;
    width: 80%;

    /*动态进度条背景色*/
    .ui-progressbar-value{
    background: #3b55e7 !important;
    border-radius: 8px;
    }

    .ui-progressbar-label{
        font-weight: normal;
    }
}


// .ui-button:enabled:not(.ui-button-info):not(.ui-button-success):hover,
// .ui-fileupload-choose:not(.ui-state-disabled):hover {
//     outline: 0 none;
//     border: 1px solid #3b55e7;
//     background: #fbfbfb;
//     color: #3b55e7;
// }
.ui-button:focus{
//     background: #3b55e7;
//     border: 1px solid #3b55e7;
//     color:#fff;
    outline: none;
}

// 带下拉框的button右侧下拉框样式覆盖
.ui-splitbutton-menubutton:enabled:hover,
.ui-button-secondary:enabled:hover{
    border: 1px solid #e1e3e4 !important;
    border-left:0;
}

// 竖向tabview 右侧内容区域增加内间距
.ui-tabview-left{
    .ui-tabview-panels{
        .ui-widget-content{
            margin-top: 0;
            padding: 0 20px;
        }
    }
}

// 手风琴面板标签鼠标滑过样式覆盖
.ui-accordion{
    .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
      background: #fbfbfb;
      color: #3b55e7;
      border: 1px solid #3b55e7;
      a{
          color: #3b55e7;
      }
    }
} 

// 面板样式覆盖
.ui-panel{
    border: 0;
    padding:0;
    .ui-panel-titlebar{        
        border-radius: 3px 3px 0 0;
        border: 0;
        background: #f6f7fa !important;
        color: #404447;
        font-weight: 400;
        .ui-panel-titlebar-icon:hover {          
            border: 1px solid #3b55e7;
            background: #3b55e7;
            color:#fff;
        }
        
    }
}

.ui-widget input{
    padding: .3em .5em;
    border: 1px solid #e1e3e4;
    border-radius: 5px;
}
.ui-tooltip{padding:.3em .5em}

// 对话框样式覆盖
.ui-dialog {
    // width: 500px !important;
    // max-width: 500px;
    .ui-dialog-titlebar.ui-widget-header{
        background: #fbfbfb;
        padding: .8em;
        border-bottom: 1px solid #e1e3e4;
        a{
            span.fa-close{color:#ccc;}
        }
        a:hover{
            background:transparent;
            color:#3b55e7;
            border: 1px solid transparent;
            span.fa-close{
                color: #3b55e7;
            }
        }
    }
    .ui-dialog-content{
        padding: 1em 1.2em;
        line-height: 1.5;
        .ui-grid .ui-grid-row{
            margin: 10px;
        }
    }
    .ui-dialog-footer{
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        padding: .8em;
    }
}

// 表格样式覆盖
.ui-datatable{
    .ui-datatable-header{
        border: 1px solid #e1e3e4 !important;
        border-bottom: 0 !important;
        background: #fbfbfb;
        font-weight: 400;
        color: #404447;
        i.fa-search{
            right: 20px;
            top: 11px;
            position: absolute;
        }
        .ui-selectbutton.ui-buttonset{
            .ui-button{
                border-right: 0;
            }
            .ui-button:last-child{
                border-right: 1px solid #e1e3e4;
            }
        }        
    }
    .ui-datatable-scrollable-header{background: #fbfbfb;}
    .ui-datatable-thead{
        tr{
            th{
                padding: .5em .8em;
                border-bottom:0;                   
            }           
        }
    } 
    .ui-datatable-tfoot{
        border-bottom: 1px solid #e1e3e4;
        tr{
            td{
                padding:.5em;
            }
        }
    }
    .ui-datatable-data{
        .ui-widget-header{
            background: #fbfbfb;
            color: #404447;
            border: 1px solid #e1e3e4;
            a{
                span.fa{color:#404447;}
            }
        }
    }
    .ui-sortable-column:not(.ui-state-active):hover {
        background: #fbfbfb;
        color: #3b55e7;
    }
    
    .ui-datatable-tablewrapper table tr:last-child{
        border-bottom:0;
        td{
            border-bottom:0;
        }
    }
    .ui-datatable-footer{
        text-align: right;
        background: #fbfbfb;
        border: 1px solid #e1e3e4 !important;
        font-weight: 400;
        color: #e1e3e4;
    }
    .ui-paginator-bottom{
        text-align: right;
        background: #fbfbfb;
        border: 1px solid #e1e3e4 !important;
        border-top:0 !important;
        font-weight: 400;
        color: #e1e3e4;
        padding: .5em;
        a{
            color:#404447;
        }
        a.ui-state-active{
            color:#fff;
        }
        .ui-paginator-rpp-options{
            padding: 2px 5px;
            border-radius: 4px;
        }
    }

    .ui-paginator .ui-paginator-page, 
    .ui-paginator .ui-paginator-pages, 
    .ui-paginator .ui-paginator-next, 
    .ui-paginator .ui-paginator-last, 
    .ui-paginator .ui-paginator-first,
    .ui-paginator .ui-paginator-prev,
    .ui-paginator .ui-paginator-current {
        display: inline-block;
        padding: .2em .7em;
        zoom: 1;
        margin-left: .063em;
        margin-right: .063em;
        text-decoration: none;
    }

    .ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
        border-color: #3b55e7;
        background: #fbfbfb;
        color: #3b55e7;
    }

    tbody.ui-datatable-hoverable-rows {
        > tr.ui-widget-content:not(.ui-state-highlight):hover {
            cursor: pointer;
            background: #e6eefe;
            color: #404447;
        }
    }
}

.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    border-color: #e1e3e4;
    background: #fbfbfb;
    color:#3b55e7;
}

// 表单样式覆盖
.ui-inputgroup{
    span.ui-inputgroup-addon{
        padding: .2em .7em;
        color: #404447;  
        .ui-chkbox{
            vertical-align: middle;
            padding: .1em .05em .35em;
        }      
    }    
}
// .ui-inputtext:enabled:hover {
//     border-color: #e1e3e4;
// }   
.ui-button.ui-button-secondary.ui-state-default,
.ui-splitbutton.ui-button-secondary .ui-button.ui-state-default {
    background-color: #fbfbfb;
    border-color: #e1e3e4;
    color: #404447;
}


.ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover,
.ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    border-color: #3b55e7;
    background: #fbfbfb;
    color: #404447;
}
.ui-radiobutton-box{
    width: 16px;
    height: 16px;
    line-height: 14px;
    span{
        margin-top: 0px;
        // margin-left: 1px;
    }
}

// .ui-button:enabled:not(.ui-button-info):not(.ui-button-success):hover, .ui-fileupload-choose:not(.ui-state-disabled):hover {
//     outline: 0 none;
//     border: 1px solid #e1e3e4;
//     // border-left: 0;
//     background: #fbfbfb;
//     color: #3b55e7;
// }

.ui-multiselect{
    .ui-multiselect-label{
        padding: .25em 4em .25em .7em;            
    }
    .ui-multiselect-trigger .fa {
        margin-top: .7em;
        margin-left: -.125em;
    }
} 
.ui-multiselect:not(.ui-state-disabled):hover {
    border-color: #e1e3e4;
    background: #fbfbfb;
    color: #3b55e7;
}
.ui-multiselect-panel .ui-multiselect-item:not(.ui-state-highlight):hover {
    border-color: #fbfbfb;
    background: #fbfbfb;
    color: #3b55e7;
}
.ui-listbox:not(.ui-state-disabled) .ui-listbox-item:not(.ui-state-highlight):hover {
    border-color: #fbfbfb;
    background: #fbfbfb;
    color: #3b55e7;
}

.ui-listbox-header {
    .ui-listbox-filter-container{
        .fa {
            position: absolute;
            top: .5em;
            left: .5em;
        }
    }
}
.ui-multiselect-header{
    .ui-multiselect-filter-container{
        .fa{
            top: .5em;
            left: .5em;
        }
    }
} 
.ui-dropdown .ui-dropdown-trigger{
    padding: .25em;
}
p-dropdown[editable='editable']{
    input.ui-dropdown-label{
        padding:.35em .5em;
    }
    .ui-dropdown .ui-dropdown-trigger {
        padding: .2em;
    }
}
.ui-dropdown:not(.ui-state-disabled):hover {
    border-color: #3b55e7;
    background: #fbfbfb;
    color: #3b55e7;
}
.ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover {
    border-color: #e1e3e4;
    background: #e6eefe;
    color: #404447;
}
// 多选输入检索
.ui-autocomplete-multiple-container{
    input{
        border:0;
    }
}
.ui-autocomplete .ui-autocomplete-multiple-container:not(.ui-state-disabled):hover {
    border-color: #3b55e7;
}

.ui-autocomplete-dropdown{
    padding:.05em;
}

.ui-autocomplete-panel .ui-autocomplete-list-item{
    .ui-helper-clearfix{
        border-bottom: 1px solid #D5D5D5;
        .ui-img{
            width: 32px;
            float: left;
            margin: 4px 0 4px 5px;
        }
        .ui-label{
            float:right;
            margin: 7px 5px 7px 0;
        }
    }
}
.ui-growl {
  .ui-growl-message-success {
    color: #fff;
    background-color: #4caf50
  }
  .ui-growl-message-info {
    color: #fff;
    background-color: #2196f3;
  }
  .ui-growl-message-warn {
    color: #fff;
    background-color: #ffb300;
  }
  .ui-growl-message-error {
    color: #fff;
    background-color: #f44336;
  }
}
.ui-datepicker {
    .ui-datepicker-calendar{
         td:not(.ui-state-disabled) a:hover {
            border-color: #e1e3e4;
            background: #fbfbfb;
            color: #3b55e7;
        }
    }
}
.ui-listbox-header {
    .ui-inputtext {
        padding: .125em .125em .125em 1.45em;
        width: 100%;
    }
}
.ui-listbox-header {
    .ui-listbox-filter-container{
        .fa {
            position: absolute;
            top: .4em;
            left: 0.3em;
        }
    }
}
.ui-dropdown-panel {
    .ui-dropdown-filter-container {
        .fa {
            position: absolute;
            top: .9em;
            right: 1em;
        }
    }
}
.ui-multiselect-header {
    .ui-inputtext {
        padding: .125em .125em .125em 1.4em;
        width: 100%;
    }
}

.ui-multiselect-header {
    .ui-multiselect-filter-container {
        .fa {
            top: .4em;
            left: 0.2em;
        }
    }
}

/******************************** 自定义样式 end ******************************/
