$fontFamily: Segoe UI, Arial, sans-serif;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #333333;
$headerBgColor: #333333;
$headerTextColor: #eeeeee;
$headerFontWeight: bold;
$headerIconTextColor: #eeeeee;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #e1e3e4;
$contentBgColor: #fbfbfb;
$contentTextColor: #404447;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #e1e3e4;
$stateDefaultBgColor: #fbfbfb;
$stateDefaultTextColor: #404447;

//Active State
$stateActiveBorderColor: #3b55e7;
$stateActiveBgColor: #3b55e7;
$stateActiveTextColor: #ffffff;

//Highlight State
$stateHighlightBorderColor: #cccccc;
$stateHighlightBgColor: #eeeeee;
$stateHighlightTextColor: #3b55e7;

//Focus State
$stateFocusBorderColor: #3b55e7;
$stateFocusBgColor: #3b55e7;
$stateFocusTextColor: #ffffff;

//Error State
$stateErrorBorderColor: #ffb73d;
$stateErrorBgColor: #ffc73d;
$stateErrorTextColor: #111111;

//Hover State
$stateHoverBorderColor: #3b55e7;
$stateHoverBgColor: #3b55e7;
$stateHoverTextColor: #ffffff;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #222222;
$invalidInputBorderColor: #ffb73d;
$inputGroupTextColor: #ffffff;
