<h3 class="component-title icon_resource"><span>编辑表格元素</span></h3>
<p class="margin-10">【简介】在 p-dataTable 和 p-column 标签上同时设置 editable 属性为‘true’，可以实现表格元素的可编辑效果。</p>
<p class="margin-10">【说明】点击表格元素，就变成可编辑的状态。点击表格外部或者enter键，切换到原始的不可编辑状态。</p>
<p class="margin-10">【说明】可以通过 ng-template 标签实现不同的可编辑效果。</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
<div class="content-section implementation ui-fluid">
    <p-dataTable [value]="cars" [editable]="true">
        <p-column field="vin" header="Vin" [editable]="true"></p-column>
        <p-column field="year" header="Year" [editable]="true"></p-column>
        <p-column field="brand" header="Brand" [editable]="true">
            <ng-template let-col let-car="rowData" pTemplate="editor">
                <p-dropdown [(ngModel)]="car[col.field]" [options]="brands" [autoWidth]="false" [style]="{'width':'100%'}" required="true" appendTo="body"></p-dropdown>
            </ng-template>
        </p-column>
        <p-column field="color" header="Color" [editable]="true"></p-column>
        <p-column field="saleDate" header="Sale Date" [editable]="true" [style]="{'overflow':'visible'}">
            <ng-template let-col let-car="rowData" pTemplate="body">
                {{car[col.field]|date}}
            </ng-template>
            <ng-template let-col let-car="rowData" pTemplate="editor">
                <p-calendar [(ngModel)]="car[col.field]"></p-calendar>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
  </p-tabPanel>

  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-dataTable [value]="cars" [editable]="true"&gt;
    &lt;p-column field="vin" header="Vin" [editable]="true"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year" [editable]="true"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand" [editable]="true"gt;
        &lt;ng-template let-col let-car="rowData" pTemplate="editor"&gt;
            &lt;p-dropdown [(ngModel)]="car[col.field]" [options]="brands" [autoWidth]="false" [style]="&#123;'width':'100%'&#125;" required="true"  appendTo="body"&gt;&lt;/p-dropdown&gt;
        &lt;/ng-template&gt;
    &lt;/p-column&gt;
    &lt;p-column field="color" header="Color" [editable]="true"&gt;&lt;/p-column&gt;
    &lt;p-column field="saleDate" header="Sale Date" [editable]="true" [style]=" &#123;'overflow':'visible' &#125;"&gt;
        &lt;ng-template let-col let-car="rowData" pTemplate="body"&gt;
             &#123;&#123;car[col.field]|date &#125;&#125;
        &lt;/ng-template&gt;
        &lt;ng-template let-col let-car="rowData" pTemplate="editor"&gt;
            &lt;p-calendar [(ngModel)]="car[col.field]"&gt;&lt;/p-calendar&gt;
        &lt;/ng-template&gt;
    &lt;/p-column&gt;
&lt;/p-dataTable&gt;
</code>
</pre>
    </section>

    <section>
      <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class DataTableEditableDemo implements OnInit &#123;

    cars: Car[];

    constructor(private carService: CarService) &#123; &#125;

    ngOnInit() &#123;
        this.carService.getCarsSmall().then(cars => this.cars = cars);
    &#125;
&#125;
</code>
</pre> 
    </section>
  </p-tabPanel>

  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
  
  </p-tabPanel>
</p-tabView>