<h3 class="component-title icon_resource"><span>确认弹出框</span></h3>
<p class="margin-10">确认弹出框是利用观测值显示确认窗口，很容易，可以通过在同一组件的多个行动共享服务支持。</p>
<p-tabView>
    <p-tabPanel header="效果示例" leftIcon="icon_example">
        <div class="common-demo margin-t-40">
            <p-growl [value]="msgs"></p-growl>      
            <p-confirmDialog></p-confirmDialog>        
            <button type="button" (click)="confirm1()" pButton icon="fa-check" label="Confirm"></button>       
            <button type="button" (click)="confirm2()" pButton icon="fa-trash" label="Delete"></button>
        </div>
    </p-tabPanel>
    <p-tabPanel header="组件源码" leftIcon="icon_code">
        <section>
            <h5>HTML代码示例</h5>
            <pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;p-growl [value]="msgs"&gt;&lt;/p-growl&gt;      
&lt;p-confirmDialog&gt;&lt;/p-confirmDialog&gt;       
&lt;button type="button" (click)="confirm1()" pButton icon="fa-check" label="Confirm"&gt;&lt;/button&gt;       
&lt;button type="button" (click)="confirm2()" pButton icon="fa-trash" label="Delete"&gt;&lt;/button&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="confirmDialogDemoCode"></code>
</pre>
        </section>
    </p-tabPanel>
    <p-tabPanel header="使用说明" leftIcon="icon_explorer">
        <section>
            <h2>使用</h2>
            <p>验证对话框是使用p-confirmDialog标签定义的，并需要一个验证服务实例来通过调用确认方法来显示它。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"&gt;&lt;/p-confirmDialog&gt;       
&lt;button type="button" (click)="confirm()" pButton icon="fa-check" label="Confirm"&gt;&lt;/button&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="confirmDialogDemoCode1"></code>
</pre>
            <p>确认方法接受一个确认实例，用于自定义对话UI，以及接受和拒绝操作。</p>
            <p-dataTable [value]="uiProperties">
                <p-column field="name" header="名称"></p-column>
                <p-column field="type" header="类型"></p-column>
                <p-column field="default" header="默认值"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
            <p>对话框的属性以两种方式定义，消息、图标和标题属性可以使用确认方法定义，也可以声明在p -confirm mdialog的ng - template上。
              如果这些值不太可能改变，那么声明式方法将是有用的，但是在ng模板中定义的属性仍然可以通过确认方法调用。
              此外，在footer部分的按钮可以通过传递您自己的UI来定制，重要的是要使确认工作与自定义UI一起定义一个本地的ng模板变量，
              并为您自己的按钮分配accept()- reject()方法。
            </p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd&gt;
    &lt;p-footer&gt;
        &lt;button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"&gt;&lt;/button&gt;
        &lt;button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"&gt;&lt;/button&gt;
    &lt;/p-footer&gt;
&lt;/p-confirmDialog&gt;
</code>
</pre>
        </section>
        <section>
            <h2>属性</h2>
            <p-dataTable [value]="confirmDialogProperties">
                <p-column field="name" header="名称"></p-column>
                <p-column field="type" header="类型"></p-column>
                <p-column field="default" header="默认值"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>样式</h2>
            <p>以下是结构样式类的列表，对于主题类访问它们的页面。</p>
            <p-dataTable [value]="confirmDialogStyles">
                <p-column field="name" header="名称"></p-column>
                <p-column field="element" header="元素"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>依赖</h2>
            <p>ConfirmationService</p>
        </section>
    </p-tabPanel>
</p-tabView>