<h3 class="component-title icon_resource"><span>伸缩</span></h3>
<p class="margin-10">该组件的树节点可以全部展开和收起。</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
    <div class="tree-demo margin-t-40">
      <div style="margin-bottom: 8px">
        <button pButton type="text" label="Expand all" (click)="expandAll()"></button>
        <button pButton type="text" label="Collapse all" (click)="collapseAll()"></button>
      </div>
      <p-tree #expandingTree [value]="expansionTree"></p-tree>
    </div>
  </p-tabPanel>
  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h5>HTML代码示例</h5>
      <pre>
<code class="language-markup" ngNonBindable kyeeCodeHighLight>
&lt;div style="margin-bottom: 8px"&gt;
  &lt;button pButton type="text" label="Expand all" (click)="expandAll()"&gt;&lt;/button&gt;
  &lt;button pButton type="text" label="Collapse all" (click)="collapseAll()"&gt;&lt;/button&gt;
&lt;/div&gt;
&lt;p-tree #expandingTree [value]="expansionTree"&gt;&lt;/p-tree&gt;
</code>
</pre>
      <h5>TS代码示例</h5>
      <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="expansionDemoCode" ></code>
</pre>
    </section>
  </p-tabPanel>
  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
    <section>
      <h4>Step 1 TS文件中引入组件所需资源，如下: </h4>
      <pre>
<code class="language-javascript" kyeeCodeHighLight>
import &#123; TreeWidgetModule, TreeNode, Tree &#125; from 'portalface/widgets'; //注：引用portalface库中的widgets模块下的TreeWidgetModule,TreeNode,Tree
</code>
</pre>
      <h4>Step 2 HTML文件中使用基础树指令<span class="padding-lr-10 high-light">p-tree</span>，属性<span class="padding-lr-10 high-light">value</span>的值<span class="padding-lr-10 high-light">expansionTree</span>作为本示例的树节点，如下:
      </h4>
      <pre>
<code class="language-markup" ngNonBindable kyeeCodeHighLight>
&lt;div style="margin-bottom: 8px"&gt;
  &lt;button pButton type="text" label="Expand all" (click)="expandAll()"&gt;&lt;/button&gt;
  &lt;button pButton type="text" label="Collapse all" (click)="collapseAll()"&gt;&lt;/button&gt;
&lt;/div&gt;
&lt;p-tree #expandingTree [value]="expansionTree"&gt;&lt;/p-tree&gt;
</code>
</pre>
      <h4>Step 3 具体数据见<span class="padding-lr-10 high-light">TS</span>示例文件。其中具体属性以及方法说明见简介部分。</h4>
    </section>
  </p-tabPanel>
</p-tabView>