@charset "UTF-8";
.margin-t-15{margin-top: 15px;}
.margin-b-15{margin-bottom: 15px;}
.margin-10{margin: 10px;}
.margin-l-50{margin-left: 50px;}
.margin-t-40{margin-top: 40px;}
.margin-t-60{margin-top: 60px;}
.padding-lr-10{padding-left: 10px;padding-right: 10px;}
.padding-t-40{padding-top: 40px;}
.high-light{color: #3aca60; font-weight: 600;font-size: 1.2em;}
.border-t{border-top: 1px solid #e1e3e4;}

section{
    margin: 1.2em 0 -1.2em;
    padding-bottom: 1.2em;
    line-height: 1.6em;
    font-size: 14px;
    color: #3c4144;
    h2{
        margin: 60px 0 0.8em;
        padding: 0em .7em;
        border-left: 4px solid #3b55e7;
        font-size: 16px;
        z-index: -1;

    }
    h4{
        padding: 2.85em .8em .5em;
    }
    h5{
        margin: 0;
        text-align: right;
        color: #999;
        font-size: 14px;
    }
    div{
        line-height: 1.8em;
    }
    p{
        margin-bottom:.8em;
    }

    .tableStyle{
        width: 100%;
        border: 1px solid #e1e3e4;
        background: #fbfbfb;
        tr{
            th,td{padding: .5em .8em;}
        }
    }
}

h3.component-title {
    padding: 0 0 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e3e4;
    font-size: 16px;
    span{
        padding-left: 8px;
    }
}

section:first-child{
    h2{
        margin-top: 40px;
    }
}

.common-demo{
    width: 70%;
    padding:30px;
    background-color: #fbfbfb;
    border-radius:4px;
}

