<h3 class="component-title icon_resource"><span>面板块</span></h3>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
    <div class="margin-t-40">
    <p-growl [value]="msgs"></p-growl>

    <p-panel header="教父" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      故事开始于纽约黑手党家庭负责人Don Vito Corleone监督女儿的婚礼。
      他心爱的儿子迈克尔刚刚从战争中回来，但不打算成为他父亲生意的一部分。
      通过迈克尔的生活，家族企业的性质变得清晰。 家庭的事业就像家庭的一员，
      善良和仁慈的人，给予尊重，但给予无情的暴力，只要有什么违反家庭的利益。
    </p-panel>
        
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="display:inline-block;margin-top:.4em">自定义标题</span>
                
                <p-splitButton [style]="{'float':'right'}" label="保存" icon="fa-check" (onClick)="save()" [model]="items"></p-splitButton>
            </div>
        </p-header>
        故事开始于纽约黑手党家庭负责人Don Vito Corleone监督女儿的婚礼。
        他心爱的儿子迈克尔刚刚从战争中回来，但不打算成为他父亲生意的一部分。
        通过迈克尔的生活，家族企业的性质变得清晰。 家庭的事业就像家庭的一员，
        善良和仁慈的人，给予尊重，但给予无情的暴力，只要有什么违反家庭的利益。
        <p-footer>
            <button pButton type="button" icon="fa-plus" label="新建" class="ui-button-info"></button>
            <button pButton type="button" icon="fa-list" label="预览" class="ui-button-success"></button>
        </p-footer>
    </p-panel>
    </div>
  </p-tabPanel>
  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-growl [value]="msgs"&gt;&lt;/p-growl&gt;

&lt;p-panel header="教父" [toggleable]="true" [style]="&#123;'margin-bottom':'20px'&#125;"&gt;
  故事开始于纽约黑手党家庭负责人Don Vito Corleone监督女儿的婚礼。
  他心爱的儿子迈克尔刚刚从战争中回来，但不打算成为他父亲生意的一部分。
  通过迈克尔的生活，家族企业的性质变得清晰。 家庭的事业就像家庭的一员，
  善良和仁慈的人，给予尊重，但给予无情的暴力，只要有什么违反家庭的利益。
&lt;/p-panel&gt;

&lt;p-panel&gt;
    &lt;p-header&gt;
        &lt;div class="ui-helper-clearfix"&gt;
            &lt;span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px"&gt;自定义标题&lt;/span&gt;
            
            &lt;p-splitButton [style]="&#123;'float':'right'&#125;" label="保存" icon="fa-check" (onClick)="save()" [model]="items"&gt;&lt;/p-splitButton&gt;
        &lt;/div&gt;
    &lt;/p-header&gt;
      故事开始于纽约黑手党家庭负责人Don Vito Corleone监督女儿的婚礼。
      他心爱的儿子迈克尔刚刚从战争中回来，但不打算成为他父亲生意的一部分。
      通过迈克尔的生活，家族企业的性质变得清晰。 家庭的事业就像家庭的一员，
      善良和仁慈的人，给予尊重，但给予无情的暴力，只要有什么违反家庭的利益。
    &lt;p-footer&gt;
        &lt;button pButton type="button" icon="fa-plus" label="新建" class="ui-button-info"&gt;&lt;/button&gt;
        &lt;button pButton type="button" icon="fa-list" label="预览" class="ui-button-success"&gt;&lt;/button&gt;
    &lt;/p-footer&gt;
&lt;/p-panel&gt;
</code>
</pre>
    </section>
  </p-tabPanel>
  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
    <section>
      <h2>使用</h2>
      <p>面板由p-panel元素定义。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-panel header="Title"&gt;
    Content
&lt;/p-panel&gt;
</code>
</pre>
            <h2>扩展折叠</h2>
            <p>可以使用可切换选项扩展和折叠面板的内容，默认状态是不使用折叠选项的。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-panel header="Title" [toggleable]="true"&gt;
    Content
&lt;/p-panel&gt;
</code>
</pre>

            <h2>页眉和页脚内容</h2>
            <p>页眉和页脚部分可以使用p-header和p-footer组件进行定制。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-panel&gt;
    &lt;p-header&gt;
        Header content here
    &lt;/p-header&gt;
    Body Content
    &lt;p-footer&gt;
        Footer content here
    &lt;/p-footer&gt;
&lt;/p-panel&gt;
</code>
</pre>
    </section>
    <section>
      <h2>属性</h2>
      <p-dataTable [value]="properties">
        <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
        <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
        <p-column field="default" header="默认值" [style]="{'width': '20%'}"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>事件</h2>
      <p-dataTable [value]="events">
        <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
        <p-column field="param" header="参数"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
  </p-tabPanel>
