      <!-- <p-inputMask mask="*[*]@*[*].com" [(ngModel)]="val6" placeholder="**@**.com" slotChar="****@****"></p-inputMask> -->
<div class="main-background ui-g ui-g-nopad">
  
  <div class="ui-g-8">
      <form [formGroup]="inlineForm" (ngSubmit)="inlineFormSubmit(inlineForm.value)">
        <p-panel header="行内表单" [toggleable]="true">
          <div class="ui-g">
            <div class="ui-g-5 center">
                  <input pInputText type="text" formControlName="username" placeholder="请输入用户名"/>
            </div>

            <div class="ui-g-5 center">
                  <input pInputText type="password" formControlName="password" placeholder="请输入密码"/>
            </div>

            <div class="ui-g-2 center">
                  <button pButton type="submit" label="登录" [disabled]="!inlineForm.valid" style="min-width: 70px"></button>
            </div>
          </div>
        </p-panel>
      </form>
  </div>


        <p-dialog [(visible)]="display" modal="modal" width="400">
 <form [formGroup]="inlineForm" (ngSubmit)="inlineFormSubmit(inlineForm.value)">
          <div class="ui-g">
            <div class="ui-g-4 right">
                  用户名： 
            </div>
            <div class="ui-g-8">
                
                  <input pInputText type="text" formControlName="username" placeholder="请输入用户名"/>
            </div>

            <div class="ui-g-4 right">
                  密码： 
            </div>
            <div class="ui-g-8">
                  <input pInputText type="password" formControlName="password" placeholder="请输入密码"/>
            </div>

            <div class="ui-g-8">
                  <p-checkbox name="group1" value="New York" label="是否记住用户名"></p-checkbox>
            </div>
            <div class="ui-g-3 right">
                  <button pButton type="submit" label="登录" [disabled]="!inlineForm.valid" (click)="display = false"></button>
            </div>
          </div>
      </form>
        </p-dialog>
  <div class="ui-g-4">
    <p-panel header="弹出框表单" [toggleable]="true">
      <div class="ui-g">
        <div class="ui-g-12 center">
        <button type="text" (click)="showDialog()" pButton icon="fa-external-link-square"
          label="弹出框表单"></button>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-3" style="height: 100%">
    <p-panel header="提示" [toggleable]="true">
      <div class="ui-g">
        <div class="ui-g-12">
          基本提示
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText pTooltip="Enter your username" placeholder="Right">                
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top" placeholder="Top">
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="bottom" placeholder="Bottom">
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="left" placeholder="Left">
        </div>
        <div class="ui-g-12">
          焦点提示
        </div>
        <div class="ui-g-12">
          <input type="text" pInputText pTooltip="Enter your username"
            placeholder="Focus" tooltipEvent="focus" style="margin-left:.5em">
        </div>
      </div>
    </p-panel>
  </div>

  <div class="ui-g-9">
    <p-panel header="表单校验，模拟提交" [toggleable]="true">
<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
        <div class="ui-g" style="margin: 10px 0px">
            <div class="ui-g-12">
                <div class="ui-g-2 right">
                    用户名 *:
                </div>
                <div class="ui-g-6">
                    <input pInputText type="text" formControlName="username" placeholder="请输入用户名"  style="width: 100%"/>
                </div>
                <div class="ui-g-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['username'].valid&&userform.controls['username'].dirty">
                        <i class="fa fa-close"></i>
                        用户名不能为空
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2 right">
                    密码 *:
                </div>
                <div class="ui-g-6">
                    <input pInputText type="password" formControlName="password" placeholder="请输入6位以上密码"  style="width: 100%"/>
                </div>
                <div class="ui-g-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="userform.controls['password'].errors['required']">请输入密码</span>
                        <span *ngIf="userform.controls['password'].errors['minlength']">密码长度需大于6位</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2 right">
                    简介&nbsp; :
                </div>
                <div class="ui-g-6">
                    <textarea pInputTextarea type="text" formControlName="description"  style="width: 100%"></textarea>
                </div>
                <div class="ui-g-4"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2 right">
                    性别 *:
                </div>
                <div class="ui-g-6">
                    <p-dropdown [options]="genders" formControlName="gender" [autoWidth]="false"></p-dropdown>
                </div>
                <div class="ui-g-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty">
                        <i class="fa fa-close"></i>
                        请选择性别
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-6 right">
                    <button pButton type="button" label="清空" class="ui-button-secondary" (click)="userform.reset()"></button>
                    <button pButton type="submit" label="提交" [disabled]="!userform.valid"></button>
                </div>
                <div class="ui-g-4"></div>
            </div>
            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                提交
                <br>
                {{diagnostic}}
            </div>
        </div>
</form>
    </p-panel>
  </div>
  <div class="ui-g-12">
    <p-panel header="所有表单组件" [toggleable]="true">
      <div class="ui-g">
        <div class="ui-g-12">
          <p>输入框</p>
        </div>

        <div class="ui-g-3 right">
            图片插件 ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username"  style="width: 100%">
          </div>
        </div>


         <div class="ui-g-3 right">
            字符插件 ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">$</span>
              <input type="text" pInputText placeholder="Price" style="width: 100%; border:1px solid rgba(0, 0, 0, 0.15)">   
              <span class="ui-inputgroup-addon">.00</span>
          </div>
        </div>


        <div class="ui-g-3 right">
            按钮输入 ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-inputgroup">
              <button pButton type="button" label="Search"></button>
              <input type="text" pInputText placeholder="Keyword"  style="width: 100%">         
          </div>
        </div>


        <div class="ui-g-3 right">
            日期控件 ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-g-6">
            <p-calendar [showTime]="true"></p-calendar>
          </div>
          <div class="ui-g-6">
            <p-calendar [showTime]="true" [showIcon]="true"></p-calendar>
          </div>
          <div class="ui-g-6">
            <p-calendar [inline]="true"></p-calendar>
          </div>
          <div class="ui-g-6">
            <p-calendar [timeOnly]="true" [showIcon]="true"></p-calendar>
          </div>
        </div>

        <div class="ui-g-3 right">
            自动补全 ： 
        </div>
        <div class="ui-g-8">

          <p-autoComplete [suggestions]="filteredCountries"
              (completeMethod)="filterCountry($event)" field="name" [size]="30"
              placeholder="国家" [minLength]="1"></p-autoComplete>   
        </div>

        <div class="ui-g-3 right">
            单选框(预选) ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-g-4"><p-radioButton name="group2" value="Option 1" label="Option 1" [(ngModel)]="val2"></p-radioButton></div>
          <div class="ui-g-4"><p-radioButton name="group2" value="Option 2" label="Option 2" [(ngModel)]="val2"></p-radioButton></div>
          <div class="ui-g-4"><p-radioButton name="group2" value="Option 3" label="Option 3" [(ngModel)]="val2"></p-radioButton></div>
          <div class="ui-g-12">
            Selected Value = {{val2||'none'}}
          </div>
        </div>

        <div class="ui-g-3 right">
            多选框(预选) ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-g-3"><p-checkbox name="group1" value="Technology" label="Technology" [(ngModel)]="selectedCategories"></p-checkbox></div>
          <div class="ui-g-3"><p-checkbox name="group1" value="Finance" label="Finance" [(ngModel)]="selectedCategories"></p-checkbox></div>
          <div class="ui-g-3"><p-checkbox name="group1" value="Sports" label="Sports" [(ngModel)]="selectedCategories"></p-checkbox></div>
          <div class="ui-g-3"><p-checkbox name="group1" value="Entertainment" label="Entertainment" [(ngModel)]="selectedCategories"></p-checkbox></div>
          <div class="ui-g-12">
            Selected Categories: <span *ngFor="let cat of selectedCategories" style="margin-right:10px">{{cat}} </span>
          </div>
        </div>

        <div class="ui-g-3 right">
            列表选择 ： 
        </div>
        <div class="ui-g-8">

          <div class="ui-g-12">
            <p-listbox [options]="cities" [(ngModel)]="selectedCity"></p-listbox>
          </div>
          <div class="ui-g-12">
            <p>Selected City: {{selectedCity}}</p>
          </div>
        </div>

        <div class="ui-g-3 right">
            列表选择(多选搜索) ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-g-12">
            <p-listbox [options]="cities" [(ngModel)]="selectedCities" multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
          </div>
          <div class="ui-g-12">
            <p>Selected Cities: <span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c}}</span></p>
          </div>
        </div>

        <div class="ui-g-3 right">
            滑块、范围 ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-g-8">
            <p-slider [(ngModel)]="SliderVal" [style]="{'width':'200px'}"></p-slider>
          </div>
          <div class="ui-g-4">
              <p>滑块值: {{SliderVal}}</p>
          </div>
          <div class="ui-g-8">
            <p-slider [(ngModel)]="rangeVals" [style]="{'width':'200px'}" [range]="true"></p-slider>
          </div>
          <div class="ui-g-4">
              <p>范围值:  {{rangeVals[0] + ' - ' + rangeVals[1]}}</p>
          </div>
        </div>


        <div class="ui-g-3 right">
           数字步进 ： 
        </div>
        <div class="ui-g-8">
          <p-spinner size="30" [min]="0" [max]="100"></p-spinner>
        </div>

        <div class="ui-g-3 right">
           下拉列表 ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-g-6">
            <p-dropdown [options]="cities" placeholder="Select a City" [style]="{'width':'80%'}" ></p-dropdown>
          </div>
          <div class="ui-g-6">
            <p-dropdown [options]="cities" [style]="{'width':'80%'}" filter="filter">
              <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>

        <div class="ui-g-3 right">
           开关按钮 ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-g-6">
            <p-inputSwitch onLabel="是" offLabel="否" [(ngModel)]="checked2"></p-inputSwitch>
          </div>
          <div class="ui-g-6">
            <p>选择值： {{checked2}}</p>
          </div>
        </div>



        <div class="ui-g-3 right">
           文件上传 ： 
        </div>
        <div class="ui-g-8">
          <div class="ui-g-12">
            <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" 
                    multiple="multiple" accept="image/*" maxFileSize="1000000">
                <ng-template pTemplate type="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>        
            </p-fileUpload>
          </div>
          <div class="ui-g-12">
            <p-fileUpload mode="basic" name="demo[]" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload>
          </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
        <div class="ui-g-3 right">
           按钮与提示框 ： 
        </div>
        <div class="ui-g-8">
          <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
          <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-secondary"></button>
          <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
          <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>
          <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
          <button type="button" pButton (click)="clear()" icon="fa-close" style="float:right" label="Clear"></button>
        </div>
      </div>
    </p-panel>
  </div>
</div>



