<h3 class="component-title icon_resource"><span>横向滚动条</span></h3>
<p class="margin-10">【简介】可以将 headerColumnGroup 和 横向滚动条、排序、分页功能结合起来使用。</p>
<p-tabView>
<p-tabPanel header="效果示例" leftIcon="icon_example">
    <section>
        <h2>头部行列合并、分页、横向滚动条、数据排序功能结合使用DEMO</h2>
        <div class="content-section implementation">
            <p-dataTable [value]="sales" [paginator]="true" [rows]="8" [scrollable]="true" scrollWidth="100%">
                <p-headerColumnGroup>
                    <p-row>
                        <p-column header="Brand" rowspan="3" field="brand" [sortable]="true"></p-column>
                        <p-column header="Sale Rate" colspan="4"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="Sales" colspan="2"></p-column>
                        <p-column header="Profits" colspan="2"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="Last Year" field="lastYearSale" [sortable]="true"></p-column>
                        <p-column header="This Year" field="thisYearSale" [sortable]="true"></p-column>
                        <p-column header="Last Year" field="lastYearProfit" [sortable]="true"></p-column>
                        <p-column header="This Year" field="thisYearProfit" [sortable]="true"></p-column>
                    </p-row>
                </p-headerColumnGroup>

                <p-column field="brand" [style]="{'width':'200px'}"></p-column>
                <p-column field="lastYearSale" [style]="{'width':'200px'}"></p-column>
                <p-column field="thisYearSale" [style]="{'width':'300px'}"></p-column>
                <p-column field="lastYearProfit" [style]="{'width':'400px'}"></p-column>
                <p-column field="thisYearProfit" [style]="{'width':'200px'}"></p-column>
            </p-dataTable>
        </div>
    </section>
    <section>
        <h2>头部行列合并、分页、横向滚动条，列固定、数据排序功能结合使用DEMO</h2>
        <div class="content-section implementation">
            <p-dataTable [value]="sales" [paginator]="true" [rows]="8" scrollable="true" frozenWidth="200px" unfrozenWidth="600px">
                <p-headerColumnGroup>
                    <p-row>
                        <p-column header="Sale Rate" colspan="4"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="Sales" colspan="2"></p-column>
                        <p-column header="Profits" colspan="2"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="Last Year" field="lastYearSale" [sortable]="true"></p-column>
                        <p-column header="This Year" field="thisYearSale" [sortable]="true"></p-column>
                        <p-column header="Last Year" field="lastYearProfit" [sortable]="true"></p-column>
                        <p-column header="This Year" field="thisYearProfit" [sortable]="true"></p-column>
                    </p-row>
                </p-headerColumnGroup>

                <p-column field="brand" [style]="{'width':'200px'}" frozen="true">
                    <ng-template pTemplate="header">
                        <div style="height:105px;line-height:105px">Brand</div>
                    </ng-template>
                </p-column>
                <p-column field="lastYearSale" [style]="{'width':'200px'}"></p-column>
                <p-column field="thisYearSale" [style]="{'width':'300px'}"></p-column>
                <p-column field="lastYearProfit" [style]="{'width':'400px'}"></p-column>
                <p-column field="thisYearProfit" [style]="{'width':'200px'}"></p-column>
            </p-dataTable>
        </div>
    </section>
    <section>
        <h2>头部行列合并、双向滚动条，列固定功能结合使用DEMO</h2>
        <p-dataTable [value]="sales" scrollable="true" scrollHeight="200px" frozenWidth="300px" unfrozenWidth="400px">
            <p-headerColumnGroup frozen="true">
                <p-row>
                    <p-column header="Brand" rowspan="2" [style]="{'width':'300px', height:'74px'}"></p-column>
                </p-row>
            </p-headerColumnGroup>

            <p-headerColumnGroup>
                <p-row>
                    <p-column header="Last Year" colspan="2"></p-column>
                    <p-column header="This Year" colspan="2"></p-column>
                </p-row>
                <p-row>
                    <p-column header="Last Year"></p-column>
                    <p-column header="This Year"></p-column>
                    <p-column header="Last Year"></p-column>
                    <p-column header="This Year"></p-column>
                </p-row>
            </p-headerColumnGroup>

            <p-column field="brand" [style]="{'width':'200px'}" frozen="true"></p-column>
            <p-column field="lastYearSale" [style]="{'width':'175px'}"></p-column>
            <p-column field="thisYearSale" [style]="{'width':'125px'}"></p-column>
            <p-column field="lastYearProfit" [style]="{'width':'125px'}"></p-column>
            <p-column field="thisYearProfit" [style]="{'width':'125px'}"></p-column>
        </p-dataTable>
    </section>
</p-tabPanel>

<p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;h2&gt;头部行列合并、分页、横向滚动条、数据排序功能结合使用DEMO&lt;/h2&gt;
&lt;p-dataTable [value]="sales" [paginator]="true" [rows]="8" [scrollable]="true" scrollWidth="100%" &gt;
    &lt;p-headerColumnGroup&gt;
        &lt;p-row&gt;
            &lt;p-column header="Brand" rowspan="3" field="brand" [sortable]="true" &gt;&lt;/p-column&gt;
            &lt;p-column header="Sale Rate" colspan="4"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
        &lt;p-row&gt;
            &lt;p-column header="Sales" colspan="2"&gt;&lt;/p-column&gt;
            &lt;p-column header="Profits" colspan="2"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
        &lt;p-row&gt;
            &lt;p-column header="Last Year" field="lastYearSale" [sortable]="true" &gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" field="thisYearSale" [sortable]="true" &gt;&lt;/p-column&gt;
            &lt;p-column header="Last Year" field="lastYearProfit" [sortable]="true" &gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" field="thisYearProfit" [sortable]="true" &gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
    &lt;/p-headerColumnGroup&gt;
    
    &lt;p-column field="brand" [style]="&#123;'width':'200px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="lastYearSale" [style]="&#123;'width':'200px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="thisYearSale" [style]="&#123;'width':'300px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="lastYearProfit" [style]="&#123;'width':'400px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="thisYearProfit" [style]="&#123;'width':'200px'&#125;"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;h2&gt;头部行列合并、分页、横向滚动条，列固定、数据排序功能结合使用DEMO&lt;/h2&gt;
&lt;p-dataTable [value]="sales" [paginator]="true" [rows]="8" [scrollable]="true" frozenWidth="200px" unfrozenWidth="600px" &gt;
    &lt;p-headerColumnGroup&gt;
        &lt;p-row&gt;
            &lt;p-column header="Sale Rate" colspan="4"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
        &lt;p-row&gt;
            &lt;p-column header="Sales" colspan="2"&gt;&lt;/p-column&gt;
            &lt;p-column header="Profits" colspan="2"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
        &lt;p-row&gt;
            &lt;p-column header="Last Year" field="lastYearSale" [sortable]="true" &gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" field="thisYearSale" [sortable]="true" &gt;&lt;/p-column&gt;
            &lt;p-column header="Last Year" field="lastYearProfit" [sortable]="true" &gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" field="thisYearProfit" [sortable]="true" &gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
    &lt;/p-headerColumnGroup&gt;
    
    &lt;p-column field="brand" [style]="&#123;'width':'200px'&#125;" frozen="true"&gt;
            &lt;ng-template pTemplate="header"&gt;
                &lt;div style="height:105px;line-height:105px">Brand&lt;/div&gt;
            &lt;/ng-template&gt;
    &lt;/p-column&gt;
    &lt;p-column field="lastYearSale" [style]="&#123;'width':'200px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="thisYearSale" [style]="&#123;'width':'300px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="lastYearProfit" [style]="&#123;'width':'400px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="thisYearProfit" [style]="&#123;'width':'200px'&#125;"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;h2&gt;头部行列合并、双向滚动条，列固定功能结合使用DEMO&lt;/h2&gt;
&lt;p-dataTable [value]="sales" scrollable="true" scrollHeight="200px" frozenWidth="300px" unfrozenWidth="400px"&gt;
    &lt;p-headerColumnGroup frozen="true"&gt;
        &lt;p-row&gt;
            &lt;p-column header="Brand" rowspan="2"  [style]="&#123;'width':'300px', height:'56px'}"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
    &lt;/p-headerColumnGroup&gt;
    
    &lt;p-headerColumnGroup&gt;
        &lt;p-row&gt;
            &lt;p-column header="Last Year" colspan="2" [style]="&#123;'width':'250px'}" &gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" colspan="2" [style]="&#123;'width':'250px'}"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
        &lt;p-row&gt;
            &lt;p-column header="Last Year" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
            &lt;p-column header="Last Year" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
    &lt;/p-headerColumnGroup&gt;
    
    &lt;p-column field="brand" [style]="&#123;'width':'200px'&#125;" frozen="true"&gt;&lt;/p-column&gt;
    &lt;p-column field="lastYearSale" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="thisYearSale" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="lastYearProfit" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="thisYearProfit" [style]="&#123;'width':'125px'}"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;
</code>
</pre>
    </section>

    <section>
      <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class ScrollComponent implements OnInit &#123;

    sales: any[];

    ngOnInit() &#123;
        this.sales = [
            &#123;brand: 'Apple', lastYearSale: '51%', thisYearSale: '40%', lastYearProfit: '$54,406.00', thisYearProfit: '$43,342'&#125;,
            &#123;brand: 'Samsung', lastYearSale: '83%', thisYearSale: '96%', lastYearProfit: '$423,132', thisYearProfit: '$312,122'&#125;,
            &#123;brand: 'Microsoft', lastYearSale: '38%', thisYearSale: '5%', lastYearProfit: '$12,321', thisYearProfit: '$8,500'&#125;,
            &#123;brand: 'Philips', lastYearSale: '49%', thisYearSale: '22%', lastYearProfit: '$745,232', thisYearProfit: '$650,323,'&#125;,
            &#123;brand: 'Song', lastYearSale: '17%', thisYearSale: '79%', lastYearProfit: '$643,242', thisYearProfit: '500,332'&#125;,
            &#123;brand: 'LG', lastYearSale: '52%', thisYearSale: ' 65%', lastYearProfit: '$421,132', thisYearProfit: '$150,005'&#125;,
            &#123;brand: 'Sharp', lastYearSale: '82%', thisYearSale: '12%', lastYearProfit: '$131,211', thisYearProfit: '$100,214'&#125;,
            &#123;brand: 'Panasonic', lastYearSale: '44%', thisYearSale: '45%', lastYearProfit: '$66,442', thisYearProfit: '$53,322'&#125;,
            &#123;brand: 'HTC', lastYearSale: '90%', thisYearSale: '56%', lastYearProfit: '$765,442', thisYearProfit: '$296,232'&#125;,
            &#123;brand: 'Toshiba', lastYearSale: '75%', thisYearSale: '54%', lastYearProfit: '$21,212', thisYearProfit: '$12,533'&#125;
        ];
    &#125;
&#125;
</code>
</pre> 
    </section>
</p-tabPanel>

<p-tabPanel header="使用说明" leftIcon="icon_explorer">
    <section>
        <h2>头部行列合并、分页、横向滚动条、数据排序功能结合使用时注意事项</h2>
        <p>1、使用分页功能时，需要指定每一页显示的数据条数，切记 [rows]属性的两边中括号不能省略！</p>
        <p>2、要想出现横向滚动条，需要在 p-dataTable 标签上指定 scrollWidth 属性的值，既可以是百分比也可以是具体的px值。</p>
        <p>3、在 p-column 标签上指定某一列的具体宽度，目前只支持具体px值，不支持百分比。</p>
        <p>4、列排序和头部分组同时使用时，在所要排序的列所在的最后一个 p-row 组中加入[sortable]="true"即可，不用每个 p-row 都加。</p>
    </section>
    <section>
        <h2>头部行列合并、分页、横向滚动条，列固定、数据排序功能结合使用时注意事项</h2>
        <p>1、需要固定的列不要写到 headerColumnGroup 中，需要开发人员在 p-column 中指定列头的高度，与非固定列相同。</p>
        <p>2、需要固定的列在 p-column 中嵌套 p-template 标签使用，指明 pTemplate="header"。</p>
    </section>
    <section>
        <h2>头部行列合并、双向滚动条，列固定功能结合使用时注意事项</h2>
        <p>1、需要固定的列单独写到一个 headerColumnGroup 标签中，设置其 frozen 属性为"true"，同时需要开发人员在其 style 属性中指定列头的高度，与非固定列相同。</p>
        <p>2、此种写法不支持与表格数据排序同时使用。</p>
    </section>
</p-tabPanel>
</p-tabView>