/** 图表模块 */
.chart-demo{
    width: 70%;
    padding:30px;
    background-color: #fbfbfb;
    border-radius:4px;
}

.chart-demo-pie{
    width:45%;
    padding:30px;
    background-color: #fbfbfb;
    border-radius:4px;
}