<h3 class="component-title icon_resource"><span>环形图</span></h3>
<p class="margin-10">环形图是饼图的变体，空白中心允许包含整个数据的其他信息。</p>
<p-tabView>
    <p-tabPanel header="效果示例" leftIcon="icon_example">
        <section>
            <h2>常规环形图</h2>
            <div class="chart-demo-pie">
                <p-chart type="doughnut" [data]="doughnutData"></p-chart>
             </div>
        </section>
        <section>
            <h2>环形图（设置悬浮效果）</h2>
            <div class="chart-demo-pie">
                <p-chart type="doughnut" [data]="doughnutHoverData"></p-chart>
             </div>
        </section>
    </p-tabPanel>
    <p-tabPanel header="组件源码" leftIcon="icon_code">
        <section>
          <h5>常规环形图HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;p-chart type="doughnut" [data]="doughnutData" &gt; &lt;/p-chart&gt;
</code>
</pre>
          <h5>环形图（设置悬浮效果）HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;p-chart type="doughnut" [data]="doughnutHoverData" &gt; &lt;/p-chart&gt;
</code>
</pre>
          <h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="doughnutDemoCode" ></code>
</pre>
        </section>
    </p-tabPanel>
    <p-tabPanel header="使用说明" leftIcon="icon_explorer">
        <section>        
            <h4>Step 1  TS文件中引入组件所需资源，如下: </h4>    
<pre>
<code class="language-javascript" kyeeCodeHighLight>
import &#123; ChartsWidgetModule &#125; from 'portalface/widgets'; //注：引用portalface库中的widgets模块下的ChartsWidgetModule
</code>
</pre>
            <h4>Step 2  HTML文件中使用图表指令<span class="padding-lr-10 high-light">p-chart</span>，
                设置类型 type 为<span class="padding-lr-10 high-light">doughnut</span>如下: 
            </h4>    
<pre>
<code class="language-javascript" kyeeCodeHighLight>
&lt;p-chart type="doughnut" [data]="doughnutData" &gt;&lt;/p-chart&gt;
</code>
</pre>
            <table class="tableStyle" border="1">
                <thead>
                    <tr><th width="25%">属性</th><th width="25%">值</th><th>说明</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>data</td><td>doughnutData</td><td>图表数据</td>
                    </tr>                   
                </tbody>
            </table>
            <h4>Step 3  <span class="padding-lr-10 high-light">TS</span>文件中设置图表展示数据,详见组件源码。</h4>     
        </section>
        <section class="border-t margin-t-40">
            <p class="padding-t-40">数据集<span class="padding-lr-10 high-light">options</span>列表</p>
            <p>环形图允许为每个数据集指定多个属性,这些用于设置特定数据集的显示属性。</p>
            <p-dataTable [value]="doughnutChartDataOptions">
                <p-column field="name" header="名称"></p-column>
                <p-column field="type" header="类型"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
        </section>

        <section class="border-t margin-t-40">
            <p class="padding-t-40">配置<span class="padding-lr-10 high-light">options</span>列表</p>
            <p>这些是Doughnut图表特有的定制选项。 这些选项与全局图配置选项合并，并形成图表的选项。</p>
            <p-dataTable [value]="doughnutChartOptions">
                <p-column field="name" header="名称"></p-column>
                <p-column field="type" header="类型"></p-column>
            </p-dataTable>
        </section>
    </p-tabPanel>
</p-tabView>
