<h3 class="component-title icon_resource"><span>选项卡</span></h3>
<p class="margin-10">选项卡是一个具有导航功能的菜单，它的显示条目作为导航标题。</p>
<p-tabView>
    <p-tabPanel header="效果示例" leftIcon="icon_example">
        <div class="menu-demo margin-t-40">
            <p-tabMenu [model]="tabmenuData"></p-tabMenu>
        </div>
    </p-tabPanel>
    <p-tabPanel header="组件源码" leftIcon="icon_code">
        <section>
            <h5>HTML代码示例</h5>
            <pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;p-tabMenu&nbsp;[model]="tabmenuData"&gt;&lt;/p-tabMenu&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tabmenuDemoCode"></code>
</pre>
        </section>
    </p-tabPanel>
    <p-tabPanel header="使用说明" leftIcon="icon_explorer">
        <section>
            <h2>选中菜单</h2>
            <div>默认情况下，第一个项目被激活，使用activeItem属性可以改变选中项。</div>
            <pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;p-megaMenu [model]="megamenuData" [activeItem]="activeItem"&gt;&lt;/p-megaMenu&gt;
</code>
</pre>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tabmenuDemoCode1"></code>
</pre>
        </section>
        <section>
            <h2>属性</h2>
            <p-dataTable [value]="tabmenuProperties">
                <p-column field="name" header="名称"></p-column>
                <p-column field="type" header="类型"></p-column>
                <p-column field="default" header="默认值"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>样式</h2>
            <p>以下是结构样式类的列表，对于主题类访问它们的页面。</p>
            <p-dataTable [value]="tabmenuStyles">
                <p-column field="name" header="名称"></p-column>
                <p-column field="element" header="元素"></p-column>
            </p-dataTable>
        </section>
    </p-tabPanel>
</p-tabView>