<section>
    <h2>菜单介绍</h2>
    <div>【解释】 菜单组件共享一个通用的api来指定菜单和子菜单。</div>
    <div>【说明】 api的核心是MenuItem类，它定义菜单的标签、图标和子菜单等。</div>
    <div class="margin-b-15">【用法】 需要在使用菜单组件的模块引入菜单资源。下面是具有菜单组件的示例配置。</div>
    <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;p-menu [model]="items"&gt;&lt;/p-menu&gt;
</code>
</pre>
    <h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="html1"></code>
</pre>
</section>

<section>
    <h2>菜单组件属性</h2>
    <p>MenuItem提供以下属性，请注意，所有属性都是可选的。</p>
    <p-dataTable [value]="menuOptionS">
        <p-column field="name" header="名称"></p-column>
        <p-column field="type" header="类型"></p-column>
        <p-column field="default" header="默认值"></p-column>
        <p-column field="description" header="描述"></p-column>
    </p-dataTable>
</section>

<section>
    <h2>命令</h2>
    <span>使用命令属性定义单击选项时调用的方法。</span>
    <h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="html2"></code>
</pre>
</section>

<section>
    <h2>导航</h2>
    <span>导航使用url属性指定外部链接，而routerLink用于内部链接。如果一个菜单选项有一个活跃的路由，则会添加ui-state-active的类作为标识。活跃的路由链接可以使用MenuItem API的routerLinkActiveOptions属性进行配置。</span>
    <h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="html3"></code>
</pre>
</section>