<h3 class="component-title icon_resource"><span>文本输入</span></h3>
<p class="margin-10">InputText是标准输入元素与主题的扩展</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
    <section>
      <h2>普通文本输入</h2>
      <div class="example">
        <input id="input" type="text" size="30" pInputText [(ngModel)]="text">
        <span id="text">{{text}}</span> 
      </div>
    </section>
    <section>
      <h2>文本输入（是否启用）</h2>
      <div class="example">
        <input id="disabled-input" type="text" size="30" pInputText [disabled]="disabled" />
        <button id="disabled-btn" type="button" (click)="toggleDisabled()" pButton label="Toggle"></button> 
      </div>
    </section>
  </p-tabPanel>
  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h2>普通文本输入</h2>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;input id="input" type="text" size="30" pInputText [(ngModel)]="text"&gt; 
&lt;span id="text"&gt;&#123;text&#125;&#125;&lt;/span&gt; 
</code>
</pre>
    <h5>TS代码示例</h5>
    <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo1"></code>
</pre>
    </section>
<section>
      <h2>文本输入（是否启用）</h2>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;input id="disabled-input" type="text" size="30" pInputText [disabled]="disabled" /&gt;
&lt;button id="disabled-btn" type="button" (click)="toggleDisabled()" pButton label="Toggle"&gt;&lt;/button&gt; 
</code>
</pre>
      <h5>TS代码示例</h5>
<pre>
 <code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo2"></code> 
</pre>
    </section>
  </p-tabPanel>
  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
    <section>
      <h2>资源文件引入</h2>
      <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight>
import &#123;FormWidgetsModule&#125; from '../../../widgets';
</code>
</pre>
    </section>
    <section>
      <h2>使用</h2>
      <p>InputText应用于具有pInputText指令的输入字段</p>
      <h3 class="margin-t-40">1. 默认使用</h3>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;input type="text" pInputText /&gt;
</code>
</pre>
      <h3 class="margin-t-40">2. 双向绑定</h3>
      <p>可以使用标准的ngModel指令绑定模型</p>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;input type="text" pInputText [(ngModel)]="property"/&gt;
</code>
</pre>
      <h3 class="margin-t-40">3. 插件</h3>
      <p>文本，图标，按钮和其他内容可以通过包装插件并输入到.ui-inputgroup元素中来分组在输入旁边。 同一组中也可以使用多个插件</p>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;div class="ui-inputgroup"&gt;
    &lt;span class="ui-inputgroup-addon"&gt;&lt;i class="fa fa-user"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input type="text" pInputText placeholder="Username"&gt;         
&lt;/div&gt;

&lt;div class="ui-inputgroup"&gt;
    &lt;span class="ui-inputgroup-addon"&gt;&lt;i class="fa fa-credit-card"&gt;&lt;/i&gt;&lt;/span&gt;  
    &lt;span class="ui-inputgroup-addon"&gt;&lt;i class="fa fa-cc-visa"&gt;&lt;/i&gt;&lt;/span&gt;   
    &lt;input type="text" pInputText placeholder="Price"&gt; 
    &lt;span class="ui-inputgroup-addon"&gt;$&lt;/span&gt;  
    &lt;span class="ui-inputgroup-addon"&gt;.00&lt;/span&gt;      
&lt;/div&gt;
</code>
</pre>
    </section>
    <section>
      <h2>属性</h2>
      <p-dataTable [value]="attributes">
        <p-column field="name" header="名称"></p-column>
        <p-column field="type" header="类型"></p-column>
        <p-column field="default" header="默认值"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>样式</h2>
      <p>以下是结构样式类的列表，针对主题样式的样式类</p>
      <p-dataTable [value]="styleList">
        <p-column field="name" header="名称"></p-column>
        <p-column field="element" header="元素"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>依赖</h2>
      <p>无</p>
    </section>
  </p-tabPanel>
</p-tabView>