<h3 class="component-title icon_resource"><span>数据懒加载</span></h3>
<p class="margin-10">【简介】当表格中要显示或者处理大量数据的时候，一下子将所有数据从后台请求回来可能会影响用户体验，这种时候就可以使用数据懒加载功能。</p>
<p class="margin-10">【说明】通过配置回调函数，可以实现分页、排序和过滤数据时，每次只加载一部分数据，而不是将整个数据集合都加载出来。 
  要实现数据懒加载，首先需要将 lazy 属性设置为‘true’，接下来，为 onLazyLoad 属性提供一个回调事件，在该函数中实现自动请求、加载数据的功能。 
  该函数接受一个event对象，里面存放着需要展现的数据的相关信息。 
  值得注意的是，由于初次加载的时候，只加载了部分数据，而不是全部的数据集合，所以需要为 totalRecords 指定一个总数据条数。 这样才能正确的实现分页的效果（不知道数据总条数的话是无法实现分页效果的，因为都不知道能分多少页呀）</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
<div class="content-section implementation">
    <p-dataTable [value]="cars" [lazy]="true" [rows]="10" [paginator]="true" 
                [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)">
        <p-header>List of Cars</p-header>
        <p-column field="vin" header="Vin"></p-column>
        <p-column field="year" header="Year"></p-column>
        <p-column field="brand" header="Brand"></p-column>
        <p-column field="color" header="Color"></p-column>
    </p-dataTable>
</div>
  </p-tabPanel>

  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-dataTable [value]="cars" [lazy]="true" [rows]="10" [paginator]="true" 
            [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)"&gt;
    &lt;p-header&gt;List of Cars&lt;/p-header&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;
</code>
</pre>
    </section>

    <section>
      <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class DataTableLazyDemo implements OnInit &#123;

    datasource: Car[];
    
    cars: Car[];
    
    totalRecords: number;

    constructor(private carService: CarService) &#123; &#125;

    ngOnInit() &#123;
        //datasource imitation
        this.carService.getCarsLarge().then(cars => &#123;
            this.datasource = cars; 
            this.totalRecords = this.datasource.length;
            this.cars = this.datasource.slice(0, 10);
        &#125;);
    &#125;
    
    loadCarsLazy(event: LazyLoadEvent) &#123;
        //in a real application, make a remote request to load data using state metadata from event
        //event.first = First row offset
        //event.rows = Number of rows per page
        //event.sortField = Field name to sort with
        //event.sortOrder = Sort order as number, 1 for asc and -1 for dec
        //filters: FilterMetadata object having field as key and filter value, filter matchMode as value
        
        //imitate db connection over a network
        setTimeout(() => &#123;
            if(this.datasource) &#123;
                this.cars = this.datasource.slice(event.first, (event.first + event.rows));
            &#125;
        &#125;, 250);
    &#125;
&#125;
</code>
</pre>   
    </section>
  </p-tabPanel>

  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
  
  </p-tabPanel>
</p-tabView>