<h3 class="component-title icon_resource"><span>调整表格列宽</span></h3>
<p class="margin-10">【简介】通过设置 resizableColumns 属性为‘true’，可以实现用户拖拽改变列宽的效果。</p>
<p class="margin-10">【说明】表格提供了onColumnResize回调方法，将宽度发生变化的列的header当做参数传递给该函数。</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
    <!-- <div class="content-section implementation"> -->
    <section>
      <h2 class="first">Fit Mode</h2>
      <p-dataTable [value]="cars" resizableColumns="true">
        <p-column field="vin" header="Vin"></p-column>
        <p-column field="year" header="Year"></p-column>
        <p-column field="brand" header="Brand"></p-column>
        <p-column field="color" header="Color"></p-column>
      </p-dataTable>
    </section>

    <section>
      <h2>Expand Mode</h2>
      <p-dataTable [value]="cars" resizableColumns="true" columnResizeMode="expand">
        <p-column field="vin" header="Vin"></p-column>
        <p-column field="year" header="Year"></p-column>
        <p-column field="brand" header="Brand"></p-column>
        <p-column field="color" header="Color"></p-column>
      </p-dataTable>
    </section>

    <!-- </div> -->
  </p-tabPanel>

  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;h3 class="first"&gt;Fit Mode&lt;/h3&gt;
&lt;p-dataTable [value]="cars" resizableColumns="true"&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;h3&gt;Expand Mode&lt;/h3&gt;
&lt;p-dataTable [value]="cars" resizableColumns="true" columnResizeMode="expand"&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;
</code>
</pre>
    </section>

    <section>
      <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class DataTableColResizeDemo implements OnInit &#123;

    cars: Car[];

    constructor(private carService: CarService) &#123; &#125;

    ngOnInit() &#123;
        this.carService.getCarsSmall().then(cars => this.cars = cars);
    &#125;
&#125;
</code>
</pre>     
    </section>
  </p-tabPanel>

  <p-tabPanel header="使用说明" leftIcon="icon_explorer">

    <section>
      <h2>两种不同的拖拽模式</h2>
       <p>
         属性 columnResizeMode 有两种可选值，分别是‘fit’和‘expand’，代表着两种不同的效果。
         默认值为‘fit’。
       </p>
    </section>

    <section>
      <h2>fit模式</h2>
       <p>
         columnResizeMode 取值为 ‘fit’时，改变某列的宽度时，表格的整体宽度不会随着该列的改变而改变。相反，相邻列会自动改变宽度来适应。
       </p>
    </section>

    <section>
      <h2>expand模式</h2>
       <p>
         columnResizeMode 取值为 ‘expand’时，改变某列的宽度时，表格的整体宽度也会随着该列的改变而改变。其他列的宽度不会发生改变。
       </p>
    </section>
  </p-tabPanel>
</p-tabView>