<h3 class="component-title icon_resource"><span>便签面板</span></h3>
<p class="margin-10"> TabView 是一个容器组件，用于将内容与制表符分组。</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
     <p-growl [value]="msgs"></p-growl>

    <section>
    <h2 class="first">默认</h2>
    <div class="common-demo">
    <p-tabView>
        <p-tabPanel header="教父 I" leftIcon="fa-calendar">
          这个故事开始于纽约黑手党家庭负责人Don Vito Corleone，负责监督女儿的婚礼。
          他所爱的儿子呃已经从战争中回来了，但不打算成为他父亲生意的一部分。 
          通过迈克尔的生活，家族企业的本质就变得清晰了。 家庭的事业就像是家庭的领导，
          对那些给予尊重的人，仁慈和仁慈，只要任何东西与家庭的利益相抗衡，就会得到无情的暴力。
        </p-tabPanel>
        <p-tabPanel header="教父 II" rightIcon="fa-print">
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了他1972年的地标，
          The_Godfather与他的儿子迈克尔的精神秋天相比，是年轻的维托·科莱奥内（Vito Corleone）的崛起，
          深化了The_Godfather对美国梦的黑暗面的描绘。 二十世纪初，当地黑手党杀害家属后，
          维托儿童逃离了西西里的美国村庄。 维托努力为他的妻子谋生，合法或非法，在小意大利成长，
          在当地的黑手范库奇（Black Hand Fanucci）要求他的习惯裁员之后， 随着Fanucci走了，
          维托的公共地位一直在增长。
        </p-tabPanel>
        <p-tabPanel header="教父 III" leftIcon="fa-bell-o" rightIcon="fa-bookmark-o">
          经过15年的休息，导演弗朗西斯·福特·科波拉和作家马里奥·普佐（Mario Puzo）
          回到了这个虚构的科莱昂犯罪家族的第三个也是最后的故事。 二十年过去了，
          犯罪嫌疑人迈克尔·科莱昂（Michael Corleone）现在与妻子凯离婚了几乎成功地保证了他的家人有一天完全合法。        </p-tabPanel>
        </p-tabView>
        </div>
    </section>

    <section>
    <h2>可关闭的</h2>
    <div class="common-demo">
    <p-tabView id="closableTabView">
      <p-tabPanel header="教父 I" [selected]="true">
        这个故事开始于纽约黑手党家庭负责人Don Vito Corleone，负责监督女儿的婚礼。
        他所爱的儿子呃已经从战争中回来了，但不打算成为他父亲生意的一部分。 
        通过迈克尔的生活，家族企业的本质就变得清晰了。 家庭的事业就像是家庭的领导，
        对那些给予尊重的人，仁慈和仁慈，只要任何东西与家庭的利益相抗衡，就会得到无情的暴力。
      </p-tabPanel>
      <p-tabPanel header="教父 II" [closable]="true">
        弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了他1972年的地标，
        The_Godfather与他的儿子迈克尔的精神秋天相比，是年轻的维托·科莱奥内（Vito Corleone）的崛起，
        深化了The_Godfather对美国梦的黑暗面的描绘。 二十世纪初，当地黑手党杀害家属后，
        维托儿童逃离了西西里的美国村庄。 维托努力为他的妻子谋生，合法或非法，在小意大利成长，
        在当地的黑手范库奇（Black Hand Fanucci）要求他的习惯裁员之后， 随着Fanucci走了，
        维托的公共地位一直在增长。
      </p-tabPanel>
      <p-tabPanel header="教父 III" [closable]="true">
        经过15年的休息，导演弗朗西斯·福特·科波拉和作家马里奥·普佐（Mario Puzo）
        回到了这个虚构的科莱昂犯罪家族的第三个也是最后的故事。 二十年过去了，
        犯罪嫌疑人迈克尔·科莱昂（Michael Corleone）现在与妻子凯离婚了几乎成功地保证了他的家人有一天完全合法。
      </p-tabPanel>
    </p-tabView>
    </div>
    </section>

    <section>
    <h2>事件</h2>
    <div class="common-demo">
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel header="教父 I">
        这个故事开始于纽约黑手党家庭负责人Don Vito Corleone，负责监督女儿的婚礼。
        他所爱的儿子呃已经从战争中回来了，但不打算成为他父亲生意的一部分。 
        通过迈克尔的生活，家族企业的本质就变得清晰了。 家庭的事业就像是家庭的领导，
        对那些给予尊重的人，仁慈和仁慈，只要任何东西与家庭的利益相抗衡，就会得到无情的暴力。
      </p-tabPanel>
      <p-tabPanel header="教父 II" [selected]="true">
        弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了他1972年的地标，
        The_Godfather与他的儿子迈克尔的精神秋天相比，是年轻的维托·科莱奥内（Vito Corleone）的崛起，
        深化了The_Godfather对美国梦的黑暗面的描绘。 二十世纪初，当地黑手党杀害家属后，
        维托儿童逃离了西西里的美国村庄。 维托努力为他的妻子谋生，合法或非法，在小意大利成长，
        在当地的黑手范库奇（Black Hand Fanucci）要求他的习惯裁员之后， 随着Fanucci走了，
        维托的公共地位一直在增长。
      </p-tabPanel>
      <p-tabPanel header="教父 III">
        经过15年的休息，导演弗朗西斯·福特·科波拉和作家马里奥·普佐（Mario Puzo）
        回到了这个虚构的科莱昂犯罪家族的第三个也是最后的故事。 二十年过去了，
        犯罪嫌疑人迈克尔·科莱昂（Michael Corleone）现在与妻子凯离婚了几乎成功地保证了他的家人有一天完全合法。
      </p-tabPanel>
      <p-tabPanel header="教父 IV" [disabled]="true">
        不可见的
      </p-tabPanel>
    </p-tabView>
    </div>
    </section>

    <section>
    <h2>左右布局</h2>
    <div class="common-demo">
    <p-tabView orientation="left">
      <p-tabPanel header="教父 I" [selected]="true">
        这个故事开始于纽约黑手党家庭负责人Don Vito Corleone，负责监督女儿的婚礼。
        他所爱的儿子呃已经从战争中回来了，但不打算成为他父亲生意的一部分。 
        通过迈克尔的生活，家族企业的本质就变得清晰了。 家庭的事业就像是家庭的领导，
        对那些给予尊重的人，仁慈和仁慈，只要任何东西与家庭的利益相抗衡，就会得到无情的暴力。
      </p-tabPanel>
      <p-tabPanel header="教父 II">
        弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了他1972年的地标，
        The_Godfather与他的儿子迈克尔的精神秋天相比，是年轻的维托·科莱奥内（Vito Corleone）的崛起，
        深化了The_Godfather对美国梦的黑暗面的描绘。 二十世纪初，当地黑手党杀害家属后，
        维托儿童逃离了西西里的美国村庄。 维托努力为他的妻子谋生，合法或非法，在小意大利成长，
        在当地的黑手范库奇（Black Hand Fanucci）要求他的习惯裁员之后， 随着Fanucci走了，
        维托的公共地位一直在增长。
      </p-tabPanel>
      <p-tabPanel header="教父 III">
        经过15年的休息，导演弗朗西斯·福特·科波拉和作家马里奥·普佐（Mario Puzo）
        回到了这个虚构的科莱昂犯罪家族的第三个也是最后的故事。 二十年过去了，
        犯罪嫌疑人迈克尔·科莱昂（Michael Corleone）现在与妻子凯离婚了几乎成功地保证了他的家人有一天完全合法。
      </p-tabPanel>
    </p-tabView>
    </div>
    </section>
  </p-tabPanel>
  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>

     &lt;p-growl [value]="msgs"&gt;&lt;/p-growl&gt;

    &lt;h2 class="first"&gt;默认&lt;/h2&gt;
    &lt;p-tabView&gt;
        &lt;p-tabPanel header="教父 I" leftIcon="fa-calendar"&gt;
          这个故事···
        &lt;/p-tabPanel&gt;
        &lt;p-tabPanel header="教父 II" rightIcon="fa-print"&gt;
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续···
        &lt;/p-tabPanel&gt;
        &lt;p-tabPanel header="教父 III" leftIcon="fa-bell-o" rightIcon="fa-bookmark-o"&gt;
          经过15年的休息···
        &lt;/p-tabPanel&gt;
        &lt;/p-tabView&gt;
    &lt;h2&gt;可关闭的&lt;/h2&gt;
    &lt;p-tabView id="closableTabView"&gt;
      &lt;p-tabPanel header="教父 I" [selected]="true"&gt;
        这个故事开始于纽约···
      &lt;/p-tabPanel&gt;
      &lt;p-tabPanel header="教父 II" [closable]="true"&gt;
        弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了···
      &lt;/p-tabPanel&gt;
      &lt;p-tabPanel header="教父 III" [closable]="true"&gt;
        经过15年的休息···
      &lt;/p-tabPanel&gt;
    &lt;/p-tabView&gt;

    &lt;h2&gt;事件&lt;/h2&gt;
    &lt;p-tabView (onChange)="onTabChange($event)"&gt;
      &lt;p-tabPanel header="教父 I"&gt;
        这个故事开始于纽约···
      &lt;/p-tabPanel&gt;
      &lt;p-tabPanel header="教父 II" [selected]="true"&gt;
        弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续··
      &lt;/p-tabPanel&gt;
      &lt;p-tabPanel header="教父 III"&gt;
        经过15年的···
      &lt;/p-tabPanel&gt;
      &lt;p-tabPanel header="教父 IV" [disabled]="true"&gt;
        不可见的
      &lt;/p-tabPanel&gt;
    &lt;/p-tabView&gt;

    &lt;h2&gt;左右布局&lt;/h2&gt;
    &lt;p-tabView orientation="left"&gt;
      &lt;p-tabPanel header="教父 I" [selected]="true"&gt;
        这个故事开始于纽约···
      &lt;/p-tabPanel&gt;
      &lt;p-tabPanel header="教父 II"&gt;
        弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了···
      &lt;/p-tabPanel&gt;
      &lt;p-tabPanel header="教父 III"&gt;
        经过15年的休息···
      &lt;/p-tabPanel&gt;
    &lt;/p-tabView&gt;
</code>
</pre>
      <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class TabViewDemo &#123;

    msgs = [];
    
    onTabChange(event) &#123;
        this.msgs = [];
        this.msgs.push(&#123;severity:'info', summary:'Tab Expanded', detail: 'Index: ' + event.index&#125;);
    &#125;
&#125;
</code>
</pre>
    </section>
  </p-tabPanel>
  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
    <section>
      <h2>使用</h2>
      <p>Tabview元素由一个或多个p-tabPanel元素组成。标签的标题是使用header属性定义的。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-tabView&gt;
    &lt;p-tabPanel header="Header 1"&gt;
        Content 1
    &lt;/p-tabPanel&gt;
    &lt;p-tabPanel header="Header 2"&gt;
        Content 2
    &lt;/p-tabPanel&gt;
    &lt;p-tabPanel header="Header 3"&gt;
        Content 3    
    &lt;/p-tabPanel&gt;
&lt;/p-tabView&gt;
</code>
</pre>
            <h2>选择</h2>
            <p>默认情况下选择第一个选项卡，以便在另一个面板上自定义此启用选定的属性。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-tabView&gt;
    &lt;p-tabPanel header="Header 1"&gt;
        Content 1
    &lt;/p-tabPanel&gt;
    &lt;p-tabPanel header="Header 2" [selected]="true"&gt;
        Content 2
    &lt;/p-tabPanel&gt;
    &lt;p-tabPanel header="Header 3"&gt;
        Content 3    
    &lt;/p-tabPanel&gt;
&lt;/p-tabView&gt;
</code>
</pre>
            <h2>可关闭的</h2>
            <p>启用closable属性时，会显示一个图标来关闭该选项卡。 当关闭选项卡时，onClose事件触发。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-tabPanel header="Header Text" [closable]="true"&gt;
    Content 1
&lt;/p-tabPanel&gt;
</code>
</pre>
          <p>
            如果要控制是否可以关闭选项卡，请启用controlClose属性，以使控件能够在onClose事件中决定。
            在这种情况下，事件会得到一个称为close callback的第三个参数，并调用该函数实际上关闭该选项卡。
          </p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-tabView [controlClose]="true" (onClose)="handleClose($event)"&gt;
&lt;p-tabPanel header="Header Text" [closable]="true"&gt;
    Content 1
&lt;/p-tabPanel&gt;
&lt;/p-tabView&gt;
</code>
</pre>

<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
handleClose(e) &#123;
   if(condition)
       e.close();
&#125;
</code>
</pre>
            <h2>不可用</h2>
            <p>可以禁用选项卡，通过在面板上设置disabled属性来禁用内容。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-tabPanel header="Header Text" [disabled]="true"&gt;
    Content 1
&lt;/p-tabPanel&gt;
</code>
</pre>

            <h2>图标</h2>
            <p>可以使用tabPanel的leftIcon和rightIcon属性将标题放置在标题的左侧和右侧。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-tabPanel header="Header Text" leftIcon="fa-bell-o" rightIcon="fa-bookmark-o"&gt;;
    Content
&lt;/p-tabPanel&gt;
</code>
</pre>

            <h2>布局</h2>
            <p>TabView有四个不同的方向： "top", "bottom", "left"和"right"。 Top是默认值，可以使用orientation属性更改。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-tabView orientation="left"&gt;
</code>
</pre>

            <h2>程序化控制</h2>
            <p>可以使用activeIndex属性以编程方式控制选项卡，该属性定义活动选项卡的索引。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;button type="button" pButton icon="fa fa-chevron-up" (click)="openPrev()"&gt;&lt;/button&gt;
&lt;button type="button" pButton icon="fa fa-chevron-down" (click)="openNext()"&gt;&lt;/button&gt;

&lt;p-tabView [activeIndex]="index"&gt;
    &lt;p-tabPanel header="Header 1"&gt;
        Content 1
    &lt;/p-tabPanel&gt;
    &lt;p-tabPanel header="Header 2"&gt;
        Content 2
    &lt;/p-tabPanel&gt;
    &lt;p-tabPanel header="Header 3"&gt;
        Content 3    
    &lt;/p-tabPanel&gt;
&lt;/p-tabView&gt;
</code>
</pre>
      <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class TabViewDemo &#123;

    index: number = 0;

    openNext() &#123;
        this.index = (this.index === 2) ? 0 : this.index + 1;
    &#125;

    openPrev() &#123;
        this.index = (this.index === 0) ? 2 : this.index - 1;
    &#125;
    
&#125;
</code>
</pre>
       <h2>懒加载</h2>
       <p>只有通过初始化活动选项卡，延迟加载才有助于初始加载性能，未激活的选项卡在被选中之前不会初始化。默认情况下缓存加载的标签页内容，以便在重新选择时不会再次创建。您可以使用TabPanel上的缓存属性来配置此行为。 当具有pTemplate =“content”的ngTemplate时，TabPanel被指定为懒惰。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-tabView&gt;
    &lt;p-tabPanel header="Header 1"&gt;
        Content 1
    &lt;/p-tabPanel&gt;
    &lt;p-tabPanel header="Header 2" [selected]="true"&gt;
        &lt;ng-template pTemplate="content"&gt;
            Complex Content to Lazy Load
        &lt;/ng-template&gt;
    &lt;/p-tabPanel&gt;
    &lt;p-tabPanel header="Header 3"&gt;
        &lt;ng-template pTemplate="content"&gt;
            Complex Content to Lazy Load
        &lt;/ng-template&gt;    
    &lt;/p-tabPanel&gt;
&lt;/p-tabView&gt;
</code>
</pre>
    </section>
    <section>
      <h2>TabView属性</h2>
      <p-dataTable [value]="tabViewProperties">
        <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
        <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
        <p-column field="default" header="默认值" [style]="{'width': '20%'}"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>TabPanel属性</h2>
      <p-dataTable [value]="tabPanelProperties">
        <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
        <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
        <p-column field="default" header="默认值" [style]="{'width': '20%'}"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>事件</h2>
      <p-dataTable [value]="events">
        <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
        <p-column field="param" header="参数"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
  &lt;p-tabView (onChange)="handleChange($event)"&gt;
</code>
</pre>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
  handleChange(e) &#123;
      var index = e.index;
  &#125;
</code>
</pre>
    </section>
    <section>
      <h2>样式</h2>
      <p>以下是结构样式类的列表。</p>
      <p-dataTable [value]="styling">
        <p-column field="name" header="名称" [style]="{'width': '40%'}"></p-column>
        <p-column field="element" header="参数"></p-column>
      </p-dataTable>
    </section>
  </p-tabPanel>
