<h3 class="component-title icon_resource"><span>手风琴面板</span></h3>
<p class="margin-10">手风琴面板是标签中内容的集合。</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
    <p-growl [value]="msgs"></p-growl>
    
    <section>
    <h2 class="first">默认</h2>
    <div class="common-demo">
    <p-accordion>
        <p-accordionTab header="教父 I" [selected]="true">
          这个故事开始于纽约黑手党家庭负责人Don Vito Corleone，负责监督女儿的婚礼。
          他所爱的儿子呃已经从战争中回来了，但不打算成为他父亲生意的一部分。
          通过迈克尔的生活，家族企业的本质就变得清晰了。 家庭的事业就像是家庭的领导，
          对那些给予尊重的人，仁慈和仁慈，只要任何东西与家庭的利益相抗衡，就会得到无情的暴力。
        </p-accordionTab>
        <p-accordionTab header="教父 II">
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了他1972年的地标，
          The_教父与他的儿子迈克尔的精神秋天相比，是年轻的维托·科莱奥内（Vito Corleone）的崛起，
          深化了The_教父对美国梦的黑暗面的描绘。 二十世纪初，当地黑手党杀害家属后，
          维托儿童逃离了西西里的美国村庄。 维托努力为他的妻子谋生，合法或非法，在小意大利成长，
          在当地的黑手范库奇（Black Hand Fanucci）要求他的习惯裁员之后， 随着Fanucci走了，
          维托的公共地位一直在增长。
        </p-accordionTab>
        <p-accordionTab header="教父 III">
          经过15年的休息，导演弗朗西斯·福特·科波拉和作家马里奥·普佐（Mario Puzo）
          回到了这个虚构的科莱昂犯罪家族的第三个也是最后的故事。 二十年过去了，
          犯罪嫌疑人迈克尔·科莱昂（Michael Corleone）现在与妻子凯离婚了几乎成功地保证了他的家人有一天完全合法。  
        </p-accordionTab>
    </p-accordion>
    </div>
    </section>

    <section>
    <h2>多标签展示</h2>
    <div class="common-demo">
    <p-accordion [multiple]="true">
        <p-accordionTab header="教父 I">
          这个故事开始于纽约黑手党家庭负责人Don Vito Corleone，负责监督女儿的婚礼。
          他所爱的儿子呃已经从战争中回来了，但不打算成为他父亲生意的一部分。 
          通过迈克尔的生活，家族企业的本质就变得清晰了。 家庭的事业就像是家庭的领导，
          对那些给予尊重的人，仁慈和仁慈，只要任何东西与家庭的利益相抗衡，就会得到无情的暴力。
        </p-accordionTab>
        <p-accordionTab header="教父 II">
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了他1972年的地标，
          The_教父与他的儿子迈克尔的精神秋天相比，是年轻的维托·科莱奥内（Vito Corleone）的崛起，
          深化了The_教父对美国梦的黑暗面的描绘。 二十世纪初，当地黑手党杀害家属后，
          维托儿童逃离了西西里的美国村庄。 维托努力为他的妻子谋生，合法或非法，在小意大利成长，
          在当地的黑手范库奇（Black Hand Fanucci）要求他的习惯裁员之后， 随着Fanucci走了，
          维托的公共地位一直在增长。
       </p-accordionTab>
        <p-accordionTab header="教父 III">
          经过15年的休息，导演弗朗西斯·福特·科波拉和作家马里奥·普佐（Mario Puzo）
          回到了这个虚构的科莱昂犯罪家族的第三个也是最后的故事。 二十年过去了，
          犯罪嫌疑人迈克尔·科莱昂（Michael Corleone）现在与妻子凯离婚了几乎成功地保证了他的家人有一天完全合法。  
        </p-accordionTab>
    </p-accordion>
    </div>
    </section>

    <section>    
    <h2>标签切换事件</h2>
    <div class="common-demo">
    <p-accordion (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
        <p-accordionTab header="教父 I">
          这个故事开始于纽约黑手党家庭负责人Don Vito Corleone，负责监督女儿的婚礼。
          他所爱的儿子呃已经从战争中回来了，但不打算成为他父亲生意的一部分。 
          通过迈克尔的生活，家族企业的本质就变得清晰了。 家庭的事业就像是家庭的领导，
          对那些给予尊重的人，仁慈和仁慈，只要任何东西与家庭的利益相抗衡，就会得到无情的暴力。
        </p-accordionTab>
        <p-accordionTab header="教父 II">
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了他1972年的地标，
          The_教父与他的儿子迈克尔的精神秋天相比，是年轻的维托·科莱奥内（Vito Corleone）的崛起，
          深化了The_教父对美国梦的黑暗面的描绘。 二十世纪初，当地黑手党杀害家属后，
          维托儿童逃离了西西里的美国村庄。 维托努力为他的妻子谋生，合法或非法，在小意大利成长，
          在当地的黑手范库奇（Black Hand Fanucci）要求他的习惯裁员之后， 随着Fanucci走了，
          维托的公共地位一直在增长。
        </p-accordionTab>
        <p-accordionTab header="教父 III">
          经过15年的休息，导演弗朗西斯·福特·科波拉和作家马里奥·普佐（Mario Puzo）
          回到了这个虚构的科莱昂犯罪家族的第三个也是最后的故事。 二十年过去了，
          犯罪嫌疑人迈克尔·科莱昂（Michael Corleone）现在与妻子凯离婚了几乎成功地保证了他的家人有一天完全合法。  
        </p-accordionTab>
        <p-accordionTab header="教父 IV" [disabled]="true"
          >不显示
        </p-accordionTab>
    </p-accordion>
    </div>
    </section>

    <section>    
    <h2>程序化控制</h2>
    <div class="common-demo">
    <div style="margin-bottom: 1em">
        <button type="button" pButton icon="fa fa-chevron-up" (click)="openPrev()"></button>
        <button type="button" pButton icon="fa fa-chevron-down" (click)="openNext()"></button>
    </div>
        
    <p-accordion [activeIndex]="index">
        <p-accordionTab header="教父 I">
          这个故事开始于纽约黑手党家庭负责人Don Vito Corleone，负责监督女儿的婚礼。
          他所爱的儿子呃已经从战争中回来了，但不打算成为他父亲生意的一部分。 
          通过迈克尔的生活，家族企业的本质就变得清晰了。 家庭的事业就像是家庭的领导，
          对那些给予尊重的人，仁慈和仁慈，只要任何东西与家庭的利益相抗衡，就会得到无情的暴力。
        </p-accordionTab>
        <p-accordionTab header="教父 II">
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了他1972年的地标，
          The_教父与他的儿子迈克尔的精神秋天相比，是年轻的维托·科莱奥内（Vito Corleone）的崛起，
          深化了The_教父对美国梦的黑暗面的描绘。 二十世纪初，当地黑手党杀害家属后，
          维托儿童逃离了西西里的美国村庄。 维托努力为他的妻子谋生，合法或非法，在小意大利成长，
          在当地的黑手范库奇（Black Hand Fanucci）要求他的习惯裁员之后， 随着Fanucci走了，
          维托的公共地位一直在增长。
        </p-accordionTab>
        <p-accordionTab header="教父 III">
          经过15年的休息，导演弗朗西斯·福特·科波拉和作家马里奥·普佐（Mario Puzo）
          回到了这个虚构的科莱昂犯罪家族的第三个也是最后的故事。 二十年过去了，
          犯罪嫌疑人迈克尔·科莱昂（Michael Corleone）现在与妻子凯离婚了几乎成功地保证了他的家人有一天完全合法。  
        </p-accordionTab>
        <p-accordionTab header="教父 IV">
          经过15年的休息，导演弗朗西斯·福特·科波拉和作家马里奥·普佐（Mario Puzo）
          回到了这个虚构的科莱昂犯罪家族的第三个也是最后的故事。 二十年过去了，
          犯罪嫌疑人迈克尔·科莱昂（Michael Corleone）现在与妻子凯离婚了几乎成功地保证了他的家人有一天完全合法。  
        </p-accordionTab>
      </p-accordion>
    </div>
      </section>
  </p-tabPanel>
  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
    &lt;p-growl [value]="msgs"&gt;&lt;/p-growl&gt;
    
    &lt;h2 class="first"&gt;默认&lt;/h2&gt;
    &lt;p-accordion&gt;
        &lt;p-accordionTab header="教父 I" [selected]="true"&gt;
          这个故事开始于···
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 II"&gt;
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续···
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 III"&gt;
          经过15年的休息···
        &lt;/p-accordionTab&gt;
    &lt;/p-accordion&gt;

    &lt;h2&gt;多标签展示&lt;/h2&gt;
    &lt;p-accordion [multiple]="true"&gt;
        &lt;p-accordionTab header="教父 I"&gt;
          这个故事开始于···
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 II"&gt;
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了···
       &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 III"&gt;
          经过15年的休息···
        &lt;/p-accordionTab&gt;
    &lt;/p-accordion&gt;
    
    &lt;h2&gt;标签切换事件&lt;/h2&gt;
    &lt;p-accordion (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)"&gt;
        &lt;p-accordionTab header="教父 I"&gt;
          这个故事开始于···
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 II"&gt;
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了···
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 III"&gt;
          经过15年的休息···
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 IV" [disabled]="true"
          &gt;不显示
        &lt;/p-accordionTab&gt;
    &lt;/p-accordion&gt;
    
    &lt;h2&gt;程序化控制&lt;/h2&gt;
    &lt;div style="margin-bottom: 1em"&gt;
        &lt;button type="button" pButton icon="fa fa-chevron-up" (click)="openPrev()"&gt;&lt;/button&gt;
        &lt;button type="button" pButton icon="fa fa-chevron-down" (click)="openNext()"&gt;&lt;/button&gt;
    &lt;/div&gt;
        
    &lt;p-accordion [activeIndex]="index"&gt;
        &lt;p-accordionTab header="教父 I"&gt;
          这个故事开始于···
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 II"&gt;
          弗朗西斯·福特·科波拉（Francis Ford Coppola）的传奇延续，并延续了···
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 III"&gt;
          经过15年的休息···
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="教父 IV"&gt;
          经过15年的休息···
        &lt;/p-accordionTab&gt;
      &lt;/p-accordion&gt;
</code>
</pre>
      <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class AccordionComponent &#123;

    msgs: Message[];
    
    index: number = 0;

    onTabClose(event) &#123;
        this.msgs = [];
        this.msgs.push(&#123;severity:'info', summary:'Tab Closed', detail: 'Index: ' + event.index&#125;);
    &#125;
    
    onTabOpen(event) &#123;
        this.msgs = [];
        this.msgs.push(&#123;severity:'info', summary:'Tab Expanded', detail: 'Index: ' + event.index&#125;);
    &#125;
    
    openNext() &#123;
        this.index = (this.index === 3) ? 0 : this.index + 1;
    &#125;
    
    openPrev() &#123;
        this.index = (this.index === 0) ? 3 : this.index - 1;
    &#125;
&#125;
</code>
</pre>
    </section>
  </p-tabPanel>
  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
    <section>
      <h2>使用</h2>
      <p>手风琴面板元素由一个或多个 p-accordionTab 元素组成。 标签的标题使用 header 属性定义。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-accordion&gt;
    &lt;p-accordionTab header="Header 1"&gt;
       Content 1
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 2"&gt;
        Content 2
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 3"&gt;
        Content 3    
    &lt;/p-accordionTab&gt;
&lt;/p-accordion&gt;
</code>
</pre>

            <h2>选择</h2>
            <p>默认展示内容使用支持单向或双向绑定的selected属性进行指定。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-accordion&gt;
    &lt;p-accordionTab header="Header 1" [selected]="true"&gt;
       Content 1
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 2"&gt;
        Content 2
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 3"&gt;
        Content 3    
    &lt;/p-accordionTab&gt;
&lt;/p-accordion&gt;
</code>
</pre>

        <h2>多标签展示</h2>
        <p>默认情况下，一次只能有一个选项卡处于活动状态，而multiple属性允许多个选项卡同时处于活动状态。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-accordion [multiple]="true"&gt;
    &lt;p-accordionTab header="Header 1"&gt;
        Content 1
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 2"&gt;
        Content 2
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 3"&gt;
        Content 3    
    &lt;/p-accordionTab&gt;
&lt;/p-accordion&gt;
</code>
</pre>

        <h2>不可用</h2>
        <p>可以通过将disabled属性设置为true来禁用选项卡。</p>

<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-accordion&gt;
    &lt;p-accordionTab header="Header 1" [disabled]="true"&gt;
       Content 1
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 2"&gt;
        Content 2
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 3"&gt;
        Content 3    
    &lt;/p-accordionTab&gt;
&lt;/p-accordion&gt;
</code>
</pre>

          <h2>程序化控制</h2>
          <p>可以使用activeIndex属性以编程方式控制选项卡，在单个模式下，
            它应该是一个数字，并且在多个模式中是一个数字数组，用于定义活动选项卡的索引。</p>
          <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;button type="button" pButton icon="fa fa-chevron-up" (click)="openPrev()"&gt;&lt;/button&gt;
&lt;button type="button" pButton icon="fa fa-chevron-down" (click)="openNext()"&gt;&lt;/button&gt;
        
&lt;p-accordion [activeIndex]="index"&gt;
    &lt;p-accordionTab header="Header 1"&gt;
       Content 1
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 2"&gt;
        Content 2
    &lt;/p-accordionTab&gt;
    &lt;p-accordionTab header="Header 3"&gt;
        Content 3    
    &lt;/p-accordionTab&gt;
&lt;/p-accordion&gt;
</code>
</pre>
      <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class AccordionDemo &#123;
    
    index: number = 0;

    openNext() &#123;
        this.index = (this.index === 2) ? 0 : this.index + 1;
    &#125;
    
    openPrev() &#123;
        this.index = (this.index === 0) ? 2 : this.index - 1;
    &#125;
&#125;
</code>
</pre>
    </section>
    <section>
      <h2>Accordion属性</h2>
      <p-dataTable [value]="accordionProperties">
        <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
        <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
        <p-column field="default" header="默认值" [style]="{'width': '20%'}"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>AccordionTab属性</h2>
      <p-dataTable [value]="tabProperties">
        <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
        <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
        <p-column field="default" header="默认值" [style]="{'width': '20%'}"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>事件</h2>
      <p-dataTable [value]="events">
        <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
        <p-column field="param" header="参数"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
  </p-tabPanel>
</p-tabView>