<h3 class="component-title icon_resource"><span>微调器</span></h3>
<p class="margin-10">微调器是提供数字输入的输入组件。</p>
<p-tabView>
    <p-tabPanel header="效果示例" leftIcon="icon_example">
        <section>
            <h2>整数微调（默认）</h2>
            <div class="example">
                <p-spinner size="30" [(ngModel)]="val1"></p-spinner>
            </div>
        </section>  
        <section>
            <h2>整数微调（设置最小和最大值）</h2>
            <div class="example">
                <p-spinner size="30" [(ngModel)]="val2" [min]="0" [max]="20"></p-spinner>
            </div> 
        </section>  
        <section>
            <h2>整数微调（设置微调幅度为0.25）</h2>
            <div class="example">
                <p-spinner size="30" [(ngModel)]="val3" [step]="0.25"></p-spinner>
            </div>
        </section> 
        <section>
            <h2>整数微调（设置默认值，并且微调功能默认不开启）</h2>
            <div class="example">
                <p-spinner size="30" [(ngModel)]="val4" [disabled]="true"></p-spinner>
            </div>
        </section>
    </p-tabPanel>
    <p-tabPanel header="组件源码" leftIcon="icon_code">
        <section>
            <h2>整数微调（默认）</h2>
            <h5>HTML代码示例</h5>
            <pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-spinner size="30" [(ngModel)]="val1"&gt;&lt;/p-spinner&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo1"></code>
</pre>
        </section>
        <section>
            <h2>整数微调（设置最小和最大值）</h2>
            <h5>HTML代码示例</h5>
            <pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-spinner size="30" [(ngModel)]="val2" [min]="0" [max]="20"&gt;&lt;/p-spinner&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo2"></code>
</pre>
        </section>
        <section>
            <h2>整数微调（设置微调幅度为0.25）</h2>
            <h5>HTML代码示例</h5>
            <pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-spinner size="30" [(ngModel)]="val3" [step]="0.25"&gt;&lt;/p-spinner&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo3"></code>
</pre>
        </section>
        <section>
            <h2>整数微调（设置默认值，并且微调功能默认不开启）</h2>
            <h5>HTML代码示例</h5>
            <pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-spinner size="30" [(ngModel)]="val4" [disabled]="true"&gt;&lt;/p-spinner&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo4"></code>
</pre>
        </section>
    </p-tabPanel>
    <p-tabPanel header="使用说明" leftIcon="icon_explorer">
        <section>
            <h2>资源文件引入</h2>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight>
import &#123;FormWidgetsModule&#125; from '../../../widgets';
</code>
</pre>
        </section>
        <section>
            <h2>使用</h2>
            <h3>1. 双向绑定</h3>
            <p>双向值绑定是使用标准的ngModel指令定义的</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-spinner size="30" [(ngModel)]="val"&gt;&lt;/p-spinner&gt;
</code>
</pre>
            <h3 class="margin-t-40">2. 模型驱动形式</h3>
            <p>Spinner也可以用于模型驱动的形式。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-spinner formControlName="age"&gt;&lt;/p-spinner&gt;
</code>
</pre>
            <h3 class="margin-t-40">3. Min-Max</h3>
            <p>边界用最小和最大属性指定。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-spinner size="30" [(ngModel)]="val" [min]="0" [max]="100"&gt;&lt;/p-spinner&gt;
</code>
</pre>
            <h3 class="margin-t-40">4. Step</h3>
            <p>默认步骤系数为1，可以通过步骤选项进行自定义。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-spinner size="30" [(ngModel)]="val" [step]="0.25"&gt;&lt;/p-spinner&gt;
</code>
</pre>
        </section>
        <section>
            <h2>属性</h2>
            <p-dataTable [value]="attributes">
                <p-column field="name" header="名称"></p-column>
                <p-column field="type" header="类型"></p-column>
                <p-column field="default" header="默认值"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>事件</h2>
            <p-dataTable [value]="eventsList">
                <p-column field="name" header="名称"></p-column>
                <p-column field="parameters" header="参数"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>样式</h2>
            <p>以下是结构样式类的列表，针对主题样式的样式类</p>
            <p-dataTable [value]="styleList">
                <p-column field="name" header="名称"></p-column>
                <p-column field="element" header="元素"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>依赖</h2>
            <p>无</p>
        </section>
    </p-tabPanel>
</p-tabView>