<section>
    <h2>使用</h2>
    <div class="margin-b-15">【用法】需要在使用表单组件的模块引入资源</div>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
import &#123; FormWidgetsModule &#125; from 'widgets'; // widgets 为根目录widgets文件夹
</code>
</pre>
</section>
<section>
    <h2>组件</h2>
    <p>
   【说明】表单模块组件包括有：输入框组、输入自动填充、日历、复选框、下拉选择框、文本输入、列表选择、下拉多选框、单选列表、数字微调、tab选择按钮列表。
  </p>
    <p-dataTable [value]="commonItems">
        <p-column field="name" header="名称"></p-column>
        <p-column field="target" header="标签"></p-column>
    </p-dataTable>
</section>
<section>
    <h2>组件使用</h2>
    <p>
   【说明】各组件详细说明请见各自组件模块对应说明
  </p>
</section>