<section>
  <h2>ECharts介绍</h2>
  <div>【解释】 ECharts组件基于ECharts 3.4.x，是百度出品的基于HTML5的图表库，底层依赖轻量级的Canvas类库ZRender。</div>
  <div>【说明】 用于在页面上显示图表。指令是kyeeEcharts。</div>
  <div class="margin-b-15">【用法】 需要在使用ECharts介绍组件的模块引入ECharts介绍资源。 </div>
<pre>
<code class="language-javascript" kyeeCodeHighLight>
import &#123; EchartsWidgetModule &#125; from 'portalface/widgets'; //注：引用portalface库中的widgets模块下的EchartsWidgetModule
</code>
</pre>
</section>

<section>
  <h2>绘制一个简单的图表</h2>
  <span>
   【说明】在绘图前我们需要为 ECharts 准备一个具备高宽的 DOM 容器。
  </span>
  <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;body&gt;
    &lt;!-- 为 ECharts 准备一个具备大小（宽高）的 DOM --&gt;
    &lt;div kyeeEcharts [options]="options" style="width: 600px;height:400px;"&gt;&lt;/div&gt;
&lt;/body&gt;
</code>
</pre>
  <span>
   通过设置 options 属性生成一个简单的柱状图，下面是完整代码。
  </span>
  <h5>TS代码示例</h5>
<pre>
<code class="language-javascript" kyeeCodeHighLight ngNonBindable>
export class EchartsDescComponent implements OnInit &#123;
    options;
    constructor() &#123; 
    &#125;

    ngOnInit() &#123;
        this.options = &#123;
            title: &#123;
                text: 'ECharts 入门示例'
            &#125;,
            tooltip: &#123;&#125;,
            legend: &#123;
                data:['销量']
            &#125;,
            xAxis: &#123;
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            &#125;,
            yAxis: &#123;&#125;,
            series: [&#123;
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            &#125;]
        &#125;;
    &#125;
&#125;
</code>
</pre>
</section>

<section>
  <h2>图表演示如下：</h2>
  <div kyeeEcharts [options]="options" style="width: 600px;height:400px;"></div>
</section>

<section>
  <h2>参考文档：</h2>
   ECharts官网：<a href="http://echarts.baidu.com/index.html">http://echarts.baidu.com/index.html</a>
</section>