.mian-box{
    background: #ffffff;
}
.overview{
    width: 100%;
    position: relative;
    img{
        width: 100%;
        display: block;
    }
    .overview-box{
        width: 100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 9%;
        padding-left: 9%;
        color: #ffffff;
        img:nth-child(1){
            width: 28.563%;
        }
        img:nth-child(2){
            width: 37.75%;
            margin-top: 20px;
        }
        .start-btn{
            width: 125px;
            height: 40px;
            border: 1px solid #ffffff;
            border-radius: 20px;
            margin-top: 20px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 40px;
            cursor:pointer;
        }
    }   
}

.features{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
    background: #ffffff;
    .features-tip{
        width: 100%;
        text-align: center;
        img{
            width: 65%;
        }
        div{
            margin-top: 40px;
            margin-bottom: 70px;
            font-size: 26px;
            color: #495572;
        }
    }
    .features-abstract{
        width: 85%;
        margin: 0 auto;
        overflow: hidden;
        img{
            width: 100px;
            height: 100px;
        }
        .features-abstract1,
        .features-abstract2,
        .features-abstract3,
        .features-abstract4,
        .features-abstract5,
        .features-abstract6{
            width: 33.33%;
            height: 320px;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            float: left;
            padding-bottom: 100px;
            img{
                margin-left: 54px;
            }
        }
        .margin-l-76{
            margin-left: 76px;
            .p-title{
                margin-top: 14px;
                margin-bottom: 24px;
                font-size: 16px;
                color: #495572;
            }
            .p-content{
                font-size: 14px;
                color: #6b7c93;
                line-height: 24px;
            }
        }
        .features-abstract1,.features-abstract2{
            border-right: 1px solid #e8edf3;
            border-bottom: 1px solid #e8edf3;
        }
        .features-abstract3{
            border-bottom: 1px solid #e8edf3;
        }
        .features-abstract4,.features-abstract5{
            border-right: 1px solid #e8edf3;
        }
    }
}

.introduction{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
        width: 50%;
    }
    .introduction-content{
        width: 50%;
        position: relative;
        background-color: #3088f4;
        overflow: hidden;
        .introduction-box{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            color: #ffffff;
            font-size: 14px;
            line-height: 25px;
            padding-left: 10%;
            padding-right: 10%;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                padding-top: 2%;
                padding-bottom: 2%;
            }
        }
    }
    .introduction-content:after {
        content: '';
        display: block;
        margin-top: 47.007%;
    }
}

.works-step{
    width: 100%;
    padding-top: 26px;
    margin-bottom: 70px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .works{
        padding-top: 105px;
        .left-line{
            width: 1px;
            height: 95%;
            background: #e8edf3;
        }
        .left-word{
            width: 20px;
            p{
                width: 120px;
                transform-origin: left ;
                transform:rotateZ(-90deg);
                -ms-transform:rotateZ(-90deg);
                -moz-transform:rotateZ(-90deg);
                -webkit-transform:rotateZ(-90deg);
                -o-transform:rotateZ(-90deg);
            }           
        }
    }
    .step{
        width: 90%;
        .step-box:nth-child(2){
            margin-top: 26px;
            margin-bottom: 26px;
        }
        .step-box{
            width: 100%;
            padding-top: 5%;
            padding-bottom: 3%;
            background: #f4f8fc;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            img{
                width: 45%;
            }
            .step-content{
                width: 40%;
                margin-top: -5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #6b7c93;
                line-height: 32px;
                p:nth-child(1){
                    font-size: 12px;
                }
                p:nth-child(2){
                    margin-top: 5%;
                    margin-bottom: 5%;
                    color: #495572;
                    font-size: 24px;
                }
                p:nth-child(3){
                    font-size: 16px;
                }
            }
        }

    }
}

.request-demo{
    width: 100%;
    padding-top: 6.25%;
    padding-bottom: 6.25%;
    background: #3088f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    .ready-img{
        width: 37.5%;
    }
    .request-btn{
        width: 13.2%;
        margin-top: 2%;
        cursor:pointer;
    }
}

.footer{
    width: 100%;
    height: 84px;
    background: #2d383d;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 84px;
}