<!--<img [src]="imgUrl" width="100%"  [routerLink]="['/business/description/common-desc']"/>-->
<div class="mian-box">
    <div class="overview">
        <img [src]="imgTopUrl" alt="">
        <div class="overview-box">
            <!--<p class="name">PORTALFACE</p>
            <p class="version">PORTALFACE 框架 V1.0 全新版本发布上线</p>
            <p class="use">适用于后台管理系统及门户网站开发</p>-->
            <img [src]="imgWordUrl01" alt="">
            <img [src]="imgWordUrl02" alt="">
            <div class="start-btn" (click)="start()">开始体验</div>
        </div>
    </div>
    <div class="features">
        <div class="features-tip">
            <img [src]="titleImgUrl" alt="">
            <div class="features-tip-2">为你带来全新体验、从这里开始...</div>
        </div>
        <div class="features-abstract">
            <div class="features-abstract1">
                <img [src]="featuresImgUrl1" alt="">
                <div class="margin-l-76">
                    <p class="p-title">可视化模块简洁清晰</p>
                    <p class="p-content">模块样式预览、思路梳理</p>
                    <p class="p-content">模块划分明确</p>
                </div>
            </div>
            <div class="features-abstract2">
                <img [src]="featuresImgUrl2" alt="">
                <div class="margin-l-76">
                    <p class="p-title">轻量化框架</p>
                    <p class="p-content">全新优化代码样式框架</p>
                    <p class="p-content">轻量瘦身呈现</p>
                </div>
            </div>
            <div class="features-abstract3">
                <img [src]="featuresImgUrl3" alt="">
                <div class="margin-l-76">
                    <p class="p-title">完善的 API 文档</p>
                    <p class="p-content">提供完善的 API 文档、组件源码等</p>
                    <p class="p-content">协助用户快速实现界面功能分布</p>
                </div>
            </div>
            <div class="features-abstract4">
                <img [src]="featuresImgUrl4" alt="">
                <div class="margin-l-76">
                    <p class="p-title">便捷易操作</p>
                    <p class="p-content">为用户提供简洁的示例、代码、说明</p>
                    <p class="p-content">提高工作效率，使用方便易懂，操作简单</p>
                </div>
            </div>
            <div class="features-abstract5">
                <img [src]="featuresImgUrl5" alt="">
                <div class="margin-l-76">
                    <p class="p-title">模块组合快速拼装</p>
                    <p class="p-content">多种模块样式自由拼装组合</p>
                    <p class="p-content">快速整理需求呈现界面框架</p>
                </div>
            </div>
            <div class="features-abstract6">
                <img [src]="featuresImgUrl6" alt="">
                <div class="margin-l-76">
                    <p class="p-title">DEMO 展示</p>
                    <p class="p-content">API 样式 DEMO 展示</p>
                    <p class="p-content">示例源码直接复用</p>
                </div>
            </div>
        </div>
    </div>
    <div class="introduction">
        <img [src]="introductionImgUrl" alt="">
        <div class="introduction-content">
            <div class="introduction-box">
                <p>PORTALFACE 力求提供完善的组件样式供你选用，完成自己的系统搭建，便于在一个项目内多人协同工作，最大限度的降低开发费用，加快开发速度，减少开发人员，降低维护费用，使框架适应性参数化、灵活性增强。</p>
                <p>使用 PORTALFACE 可以非常方便的完成导航工作，让网站的结构更加清晰，解决各个模块之间存在的干扰问题。</p>
                <p>PORTALFACE V1.0 为了更好的为你提供服务，需要你的使用反馈与支持，让 PORTALFACE 不断成长！</p>
            </div>
        </div>
    </div>
    <div class="works-step">
        <div class="works">
            <div class="left-word">
                <p>HOW IT WORKS?</p>
            </div>
            <div class="left-line"></div>
        </div>
        <div class="step">
            <div class="step-box">
                <img [src]="step1ImgUrl" alt="">
                <div class="step-content">
                    <p>STEP1</p>
                    <p>
                        <span>PORTALFACE 为你提供 DIY 服务</span><br>
                        <span>帮你创建任何一个适合你的系统</span>
                    </p>
                    <p>
                        <span>确定需求，根据 PORTALFACE 提供样式组合</span><br>
                        <span>大致确定自己构想的系统内容</span>
                    </p>
                </div>
            </div>
            <div class="step-box">
                <img [src]="step2ImgUrl" alt="">
                <div class="step-content">
                    <p>STEP2</p>
                    <p>
                        <span>确定系统风格，更好地了解你的用户需求</span><br>
                        <span>准确传达用户体验信息</span>
                    </p>
                    <p>
                        <span>公共框架自定义主题，灵活搭配，根据用户产品属性快速筛选</span><br>
                        <span>确定产品风格定位</span>
                    </p>
                </div>
            </div>
            <div class="step-box">
                <img [src]="step3ImgUrl" alt="">
                <div class="step-content">
                    <p>STEP3</p>
                    <p>
                        <span>选择合适的交互样式，合理的布局</span><br>
                        <span>更好更快的应用</span>
                    </p>
                    <p>
                        <span>快速的参照需求确定适用的控件交互呈现方式，布局调整</span><br>
                        <span>整体应用，你的系统完美呈现就这么简单</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="request-demo">
        <img class="ready-img" [src]="readyImgUrl" alt="">
        <img class="request-btn" [src]="requestImgUrl" alt="" (click)="start()" (mousedown)="onkey()">
    </div>
    <div class="footer">Copyright&copy;2017 KYEEGROUP All rights reserved Powered by KYEEGROUP</div>
</div>