#layout-topbar {
    position: absolute;
    top: 0;
    left: 0;   
    box-sizing: border-box;
    display: block;
    padding: 0;
    height: 60px;
    width: 100%;
    z-index: 999999;
    background: -webkit-linear-gradient(left, #3b55e7 , #008ce7); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3b55e7, #008ce7); /* Opera 11.1 - 12.0 */  
    background: -moz-linear-gradient(right, #3b55e7, #008ce7); /* Firefox 3.6 - 15 */ 
    background: linear-gradient(to right, #3b55e7 , #008ce7); /* 标准的语法 */ 
}

#layout-topbar .logo {
    margin-left: 45px;
    margin-top: 14px;
    display: inline-block;
}

#layout-topbar .logo img {
    height: 32px;
}

/* Sidebar */
#layout-sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    height: 100%;
    background-color: #fbfbfb;
    color:#3c4144;
    overflow: hidden;
    width: 220px;
    border-right: 0px solid #e1e3e4;
}

#layout-content {
    margin-left: 220px;
    padding: 20px;
    background-color: #f4f4f4;
}

#layout-main {
    position: absolute;
    top: 60px;
    bottom: 90px;
}


.topbar-menu {
    /*display: inline-block;*/
    list-style-type: none;
    float: right;
    margin: 0 20px 0 0;
    padding: 0;
    height: 100%;
}

.topbar-menu > li {
    display: inline-block;
    height: 100%;
}

.topbar-menu > li > a {
    text-decoration: none;
    color: #fff;
    transition: background-color .3s;
    margin: 15px 20px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
}

.topbar-menu > li > a:hover {
    border-bottom: 1px solid #fff;
}
.topbar-menu > li > a.active {
    border-bottom: 1px solid #fff;
}

.topbar-menu > li > ul {
    display: none;
}

.topbar-menu > li.topbar-menu-themes {
    position: relative;
}

.topbar-menu > li.topbar-menu-themes > ul {
    position: absolute;
    top: 55px;
    left: -50px;
    width: 220px;
    max-height: 200px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    overflow: auto;
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
    border-radius: 3px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: .5s;
}

.topbar-menu > li.topbar-menu-themes > ul > li.topbar-submenu-header {
    padding: 6px 12px;
    font-weight: bold;
    text-align: left;
    background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
    color: #ffffff;
}

.topbar-menu > li.topbar-menu-themes > ul a {
    text-decoration: none;
    color: #404C51;
    padding: 6px 12px;
    display: block;
    transition: all 0.5s ease;
}

.topbar-menu > li.topbar-menu-themes > ul a:hover {
    background-color: #eeeeee;
}

.topbar-menu > li.topbar-menu-themes > ul a img {
    width: 32px;
    vertical-align: middle;
}

.topbar-menu > li.topbar-menu-themes > ul a .ui-text {
    vertical-align: middle;
    margin-left: 8px;
}

.topbar-menu > li.topbar-menu-themes:hover > ul {
    display: block;
}