<h3 class="component-title icon_resource"><span>复合按钮</span></h3>
<p class="margin-10">复合按钮使用默认命令并对叠加层中显示的一组命令进行分组。</p>

<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
      <div class="common-demo margin-t-40">
        <p-growl [value]="msgs"></p-growl>
        <p-splitButton label="保存" icon="fa-check" (onClick)="save()" [model]="items"></p-splitButton>
      </div>
    </p-tabPanel>
    <p-tabPanel header="组件源码" leftIcon="icon_code">
        <section>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
  &lt;p-growl [value]="msgs"&gt;&lt;/p-growl&gt;
  &lt;p-splitButton label="Save" icon="fa-check" (onClick)="save()" [model]="items"&gt;&lt;/p-splitButton&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class SplitButtonDemo implements OnInit &#123;

    msgs: = [];
    
    items: MenuItem[];
    
    ngOnInit() &#123;
        this.items = [
            &#123;label: '更新', icon: 'fa-refresh', command: () => &#123;
                this.update();
            &#125;&#125;,
            &#123;label: '删除', icon: 'fa-close', command: () => &#123;
                this.delete();
            &#125;&#125;,
            &#123;label: 'Angular.io', icon: 'fa-link', url: 'http://angular.io'&#125;,
            &#123;label: '使用说明', icon: 'fa-paint-brush', routerLink: ['/business/description/common-desc/desc']&#125;
        ];
    &#125;

    save() &#123;
        this.msgs = [];
        this.msgs.push(&#123;severity:'info', summary:'Success', detail:'Data Saved'&#125;);
    &#125;
    
    update() &#123;
        this.msgs = [];
        this.msgs.push(&#123;severity:'info', summary:'Success', detail:'Data Updated'&#125;);
    &#125;
    
    delete() &#123;
        this.msgs = [];
        this.msgs.push(&#123;severity:'info', summary:'Success', detail:'Data Deleted'&#125;);
    &#125;
&#125;
</code>
</pre>
        </section>
    </p-tabPanel>
    <p-tabPanel header="使用说明" leftIcon="icon_explorer">
        <section>
        <h2>使用</h2>
        <p>复合按钮具有默认命令按钮和要在叠加层中显示的菜单项集合。</p>
            
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-splitButton label="保存" icon="fa-check" (onClick)="save()" [model]="items"&gt;&lt;/p-splitButton&gt;
</code>
</pre>

            <h2>属性</h2>
            <p-dataTable [value]="properties">
                <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
                <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
                <p-column field="default" header="默认值" [style]="{'width': '20%'}"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
            <h2>高级</h2>
            <p>可以使用不同的颜色选项来定义按键级别。</p>
            
            <ul>
                <li>.ui-button-secondary</li>
                <li>.ui-button-success</li>
                <li>.ui-button-info</li>
                <li>.ui-button-warning</li>
                <li>.ui-button-danger</li>
            </ul>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-splitButton label="Save" icon="fa-check" [model]="items" styleClass="ui-button-warning"&gt;&lt;/p-splitButton&gt;
</code>
</pre>
        </section>
    </p-tabPanel>
</p-tabView>
