<h3 class="component-title icon_resource"><span>下拉选择框</span></h3>
<p class="margin-10">下拉菜单用于从一组选项中选择一个项目。 自定义内容支持和过滤是显着的功能。</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
    <section>
      <h2>下拉选择（不可编辑）</h2>
      <div class="example">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City"></p-dropdown>
        <p class="margin-t-15">Selected City: {{selectedCity ? selectedCity.name : 'none'}}</p>
      </div>
    </section>
    <section>
      <h2>下拉选择（可编辑）</h2>
      <div class="example">
        <p-dropdown [options]="cars" [(ngModel)]="selectedCar" [style]="{'width':'150px'}" editable="editable" placeholder="Select a Brand"></p-dropdown>
        <p class="margin-t-15">Selected Car: {{selectedCar||'none'}}</p>
      </div>
    </section>
    <section>
      <h2>【示例3】下拉选择（可检索）</h2>
      <div class="example">
        <p-dropdown [options]="cars" [(ngModel)]="selectedCar2" [style]="{'width':'150px'}" filter="filter">
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <img src="assets/dummy-data/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/>
                    <div style="float:right;">{{car.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <p class="margin-t-15">Selected Car: {{selectedCar2||'none'}}</p>  
      </div>
    </section>
  </p-tabPanel>
  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h2>下拉选择（不可编辑）</h2>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City"&gt;&lt;/p-dropdown&gt;
&lt;p class="margin-t-15"&gt;Selected City: &#123;&#123;selectedCity ? selectedCity.name : 'none'&#125;&#125;&lt;/p&gt;
</code>
</pre>
    <h5>TS代码示例</h5>
    <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo1"></code>
</pre>
    </section>
    <section>
      <h2>下拉选择（可编辑）</h2>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-dropdown [options]="cars" [(ngModel)]="selectedCar" [style]="&#123;'width':'150px'&#125;" editable="editable" placeholder="Select a Brand"&gt;&lt;/p-dropdown&gt;
&lt;p class="margin-t-15"&gt;Selected Car: &#123;&#123;selectedCar||'none'&#125;&#125;&lt;/p&gt;
</code>
</pre>
    <h5>TS代码示例</h5>
    <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo2"></code>
</pre>
    </section>
    <section>
      <h2>下拉选择（可检索）</h2>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-dropdown [options]="cars" [(ngModel)]="selectedCar2" [style]="&#123;'width':'150px'&#125;" filter="filter"&gt;
	&lt;ng-template let-car pTemplate="item"&gt;
		&lt;div class="ui-helper-clearfix" style="position: relative;height: 25px;"&gt;
			&lt;img src="assets/dummy-data/car/&#123;&#123;car.label&#125;&#125;.png" style="width:24px;position:absolute;top:1px;left:5px"/&gt;
			&lt;div style="float:right;"&gt;&#123;&#123;car.label&#125;&#125;&lt;/div&gt;
		&lt;/div&gt;
	&lt;/ng-template&gt;
&lt;/p-dropdown&gt;
&lt;p class="margin-t-15"&gt;Selected Car: &#123;&#123;selectedCar2||'none'&#125;&#125;&lt;/p&gt;
</code>
</pre>
    <h5>TS代码示例</h5>
    <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo3"></code>
</pre>
    </section>
  </p-tabPanel>
  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
    <section>
      <h2>资源文件引入</h2>
      <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight>
import &#123;FormWidgetsModule&#125; from '../../../widgets';
</code>
</pre>
    </section>
    <section>
      <h2>使用</h2>
      <h3>1. 双向绑定</h3>
      <p>使用ngModel定义双向值绑定，下拉列表需要一组选项，每个选项应遵循定义标签值属性的SelectItem接口</p>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-dropdown [options]="cities" [(ngModel)]="selectedCity"&gt;&lt;/p-dropdown&gt;
</code>
</pre>
    <h5>TS代码示例</h5>
    <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo1"></code>
</pre>
      <h3 class="margin-t-40">2. 模型驱动形式</h3>
      <p>Dropdown也可以用于模型驱动的形式。</p>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-dropdown [options]="cities" formControlName="selectedCity"&gt;&lt;/p-dropdown&gt;
</code>
</pre>
      <h3 class="margin-t-40">3. 过滤器</h3>
      <p>可以通过启用过滤器属性，使用下拉数据面板中的输入字段来过滤选项。 默认情况下，对cities中的标签进行过滤，filterBy属性可用于选择cities中的一个或多个属性。</p>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-dropdown [options]="cities" [(ngModel)]="selectedCity" [filter]="true"&gt;&lt;/p-dropdown&gt;
&lt;p-dropdown [options]="cities" [(ngModel)]="selectedCity" [filter]="true" filterBy="label,value.name"&gt;&lt;/p-dropdown&gt;
</code>
</pre>
      <h3 class="margin-t-40">4. 自定义内容</h3>
      <p>默认情况下，选项的标签用作项目的显示文本，对于自定义内容支持，可以定义一个ng模板，该模板将cities作为本地ng模板变量。</p>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-dropdown [options]="cars" [(ngModel)]="selectedCar" [style]="&#123;'width':'150px'&#125;"&gt;
    &lt;ng-template let-car pTemplate="item"&gt;
        &lt;div class="ui-helper-clearfix" style="position: relative;height: 25px;"&gt;
            &lt;img src="assets/showcase/images/demo/car/&#123;&#123;car.label&#125;&#125;.gif" style="width:24px;position:absolute;top:1px;left:5px"/&gt;
            &lt;div style="font-size:14px;float:right;margin-top:4px"&gt;&#123;&#123;car.label&#125;&#125;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-dropdown&gt;
</code>
</pre>
      <h5>TS代码示例</h5>
    <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo2"></code>
</pre>
    </section>
    <section>
      <h2>属性</h2>
      <p-dataTable [value]="attributes">
        <p-column field="name" header="名称"></p-column>
        <p-column field="type" header="类型"></p-column>
        <p-column field="default" header="默认值"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>事件</h2>
      <p-dataTable [value]="eventsList">
        <p-column field="name" header="名称"></p-column>
        <p-column field="parameters" header="参数"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>方法</h2>
      <p-dataTable [value]="functionsList">
        <p-column field="name" header="名称"></p-column>
        <p-column field="parameters" header="参数"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>样式</h2>
      <p-dataTable [value]="styleList">
        <p-column field="name" header="名称"></p-column>
        <p-column field="element" header="元素"></p-column>
      </p-dataTable>
    </section>
    <section>
      <h2>依赖</h2>
      <p>无</p>
    </section>
  </p-tabPanel>
</p-tabView>
