<h3 class="component-title icon_resource"><span>输入框组</span></h3>
<p class="margin-10">文本，图标，按钮和其他内容可以通过包装插件并输入到.ui-inputgroup元素中来分组在输入旁边。 同一组中也可以使用多个插件。</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
    <section>
      <h2>默认输入</h2>
      <div class="example">
        <div class="ui-g">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username" [useClear]="true" class="kyee-input-clear"/>
          </div>
        </div>
    </div>
    </section>
    <section>
      <h2>按钮-输入</h2>
      <div class="example">
        <div class="ui-g">
          <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Keyword" [useClear]="true"/>
            <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h2>多选框-输入</h2>
      <div class="example">   
        <div class="ui-g">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><p-checkbox></p-checkbox></span>
            <input type="text" pInputText placeholder="Username"/>
          </div>
        </div>
      </div>
    </section>
  </p-tabPanel>
  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h2>默认输入</h2>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;div class="ui-g"&gt;
  &lt;div class="ui-inputgroup"&gt;
    &lt;span class="ui-inputgroup-addon"&gt;&lt;i class="fa fa-user"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input type="text" pInputText placeholder="Username" [useClear]="true" class="kyee-input-clear"&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
      <h5>TS代码示例</h5>
    <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo"></code>
</pre>
    </section>
<section>
      <h2>按钮-输入</h2>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;div class="ui-g"&gt;
  &lt;div class="ui-inputgroup"&gt;
    &lt;input type="text" pInputText placeholder="Keyword" [useClear]="true"&gt;
    &lt;button pButton type="button" icon="fa-search" class="ui-button-secondary"&gt;&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
      <h5>TS代码示例</h5>
    <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo"></code>
</pre>
    </section>
    <section>
      <h2>多选-输入</h2>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;div class="ui-g"&gt;
  &lt;div class="ui-inputgroup"&gt;
      &lt;span class="ui-inputgroup-addon"&gt;&lt;p-checkbox&gt;&lt;/p-checkbox&gt;&lt;/span&gt;
      &lt;input type="text" pInputText placeholder="Username"&gt;         
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
      <h5>TS代码示例</h5>
    <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo"></code>
</pre>
    </section>
  </p-tabPanel>
  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
    <section>
      <h2>【Step1】引入资源文件</h2>
      <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight>
import &#123; FormWidgetsModule &#125; from 'portalface/widgets'; //注：引用portalface库中的widgets模块下的FormWidgetsModule
</code>
</pre>
    </section>
    <section>
      <h2>【Step2】使用示例</h2>
      <pre>
<code class="language-markup" ngNonBindable kyeeCodeHighLight>
&lt;div class="ui-g"&gt;
  &lt;div class="ui-inputgroup"&gt;
    &lt;span class="ui-inputgroup-addon"&gt;&lt;i class="fa fa-user"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input type="text" pInputText placeholder="Username"&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </section>
  </p-tabPanel>
</p-tabView>

