<section>
  <h2>公共服务介绍</h2>
  <div>【说明】 公共服务包括框架基础的底层服务。</div>
  <div class="margin-b-15"><del>【用法】 底层服务在app.module.ts中进行依赖注入，使用时如下使用： </del></div>
  <div class="margin-b-15">【用法】最新版框架（2017年10月16日更新）已经将其加入到入口模块中，不再需要在app.module.ts进行额外的依赖，只需在业务代码中使用的地方导入即可。</div>
<pre>
<code class="language-javascript" kyeeCodeHighLight>
import &#123; HttpService, ... &#125; from 'portalface/services'; //注：引用portalface库中的services文件夹下的服务
</code>
</pre>

<div>【特别说明】 Service服务需要在constructor中引用，Util公共方法则可直接通过类名进行方法调用。 </div>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class XXXX &#123;

  constructor(private httpService: HttpService)&#123;
    &#125;
  this.httpService.XX; // 调用时使用的是constructor中的实体对象httpService，而非HttpService类。
&#125;
</code>
</pre>
</section>
<section>
  <h2>服务种类</h2>
  <p-dataTable [value]="properties">
    <p-column field="name" header="名称" [style]="{'width': '30%'}"></p-column>
    <p-column field="description" header="描述"></p-column>
  </p-dataTable>
</section>
