<h3 class="component-title icon_resource"><span>Tooltip</span></h3>
<p class="margin-10"> Tooltip 为组件提供帮助信息。</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
    <section>
    <h2>位置</h2>
    <div class="common-demo">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="请输入工号" placeholder="右">                
        </div>
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="请输入工号" tooltipPosition="top" placeholder="上">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="请输入工号" tooltipPosition="bottom" placeholder="下">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="请输入工号" tooltipPosition="left" placeholder="左">
        </div>
    </div>
    </div>
    </section>

    <section>    
    <h2>伴随焦点</h2>
    <div class="common-demo">
    <input type="text" pInputText pTooltip="请输入工号" placeholder="焦点" tooltipEvent="focus" style="margin-left:.5em">
    </div>
    </section> 
</p-tabPanel>
  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;h2&gt;位置&lt;/h2&gt;
&lt;div class="ui-g ui-fluid"&gt;
    &lt;div class="ui-g-12 ui-md-3"&gt;
        &lt;input type="text" pInputText pTooltip="请输入工号" placeholder="右"&gt;                
    &lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-3"&gt;
        &lt;input type="text" pInputText pTooltip="请输入工号" tooltipPosition="top" placeholder="上"&gt;
    &lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-3"&gt;
        &lt;input type="text" pInputText pTooltip="请输入工号" tooltipPosition="bottom" placeholder="下"&gt;
    &lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-3"&gt;
        &lt;input type="text" pInputText pTooltip="请输入工号" tooltipPosition="left" placeholder="左"&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;h2&gt;伴随焦点&lt;/h2&gt;
&lt;input type="text" pInputText pTooltip="请输入工号" placeholder="焦点" tooltipEvent="focus" style="margin-left:.5em"&gt;
</code>
</pre>
    </section>
  </p-tabPanel>
  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
    <section>
      <h2>使用</h2>
      <p>Tooltip应用于具有pTooltip指令的元素，其中该指令的值定义要显示的文本。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;input type="text" pTooltip="请输入工号"&gt;
</code>
</pre>
            <h2>位置</h2>
            <p>
              定位tooltip有四种选择，默认值为“right”，替代方法为“top”，“bottom”，“left”。
              使用tooltipPosition属性指定位置。
            </p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;input type="text" pTooltip="请输入工号" tooltipPosition="top"&gt;
</code>
</pre>

            <h2>事件</h2>
            <p>默认情况下，Tooltip显示在其目标的悬停事件上，其他配置有当focus事件显示和blur事件隐藏。</p>

<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;input type="text" pTooltip="请输入工号" tooltipPosition="top" tooltipEvent="focus"&gt;
</code>
</pre>

            <h2>延迟</h2>
            <p>默认情况下，工具提示立即显示或隐藏，但您可能会使用showDelay和hideDelay属性添加延迟，该属性以毫秒为单位接受数字值。</p>

<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;input type="text" pTooltip="请输入工号" tooltipPosition="top" tooltipEvent="focus" showDelay="1000" hideDelay="500"&gt;
</code>
</pre>

            <h2>滚动</h2>
            <p>当放置在像overflow div这样的滚动容器中时，必须将tooltip追加到另一个具有相对位置的元素，而不是缺省的文档主体。</p>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;div #container style="display:inline-block;position:relative"&gt;
    &lt;input type="text" pInputText pTooltip="请输入工号" placeholder="Right" [appendTo]="container"&gt;
&lt;/div&gt;
</code>
</pre>
    </section>
    <section>
      <h2>属性</h2>
      <p-dataTable [value]="properties">
        <p-column field="name" header="名称" [style]="{'width': '20%'}"></p-column>
        <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
        <p-column field="default" header="默认值" [style]="{'width': '20%'}"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </section>
  </p-tabPanel>








