<h3 class="component-title icon_resource"><span>StorageCacheService</span></h3>
<p>【说明】StorageCacheService用于管理本地存储（localStorage,sessionStorage）,包含两个对象：localStorageCache和sessionStorageCache。两个对象拥有的方法完全相同，分别操作localStorage和sessionStorage。下面以localStorageCache为例进行讲解。</p>

<section>
  <div>localStorageCache提供接口方法包括：set()、apply()、get()、getObj()、remove()、clear()。</div>
  <h2>set()</h2>
  <p>用于向localStorage存入数据。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
set(
  key：string,
  value：any
):void 
</code>
</pre>
  <p-dataTable [value]="setPageParams">
    <p-column field="name" header="参数" [style]="{'width': '20%'}"></p-column>
    <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
    <p-column field="description" header="描述"></p-column>
  </p-dataTable>
  <div>返回值为空。</div>

  <h2>apply()</h2>
  <p>用于改变对应数据的某个属性，仅在value为json对象时可用。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
apply(
  key: string,
  attr: string,
  value: any
): void 
</code>
</pre>
  <p-dataTable [value]="applyParams">
    <p-column field="name" header="参数" [style]="{'width': '20%'}"></p-column>
    <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
    <p-column field="description" header="描述"></p-column>
  </p-dataTable>
  <div>返回值为空。</div>

  <h2>get()</h2>
  <p>用于获取对应key值的数据。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
get(
  key: string
): any 
</code>
</pre>
  <p-dataTable [value]="getParams">
    <p-column field="name" header="参数" [style]="{'width': '20%'}"></p-column>
    <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
    <p-column field="description" header="描述"></p-column>
  </p-dataTable>
  <div>返回值为存储的值。</div>

  <h2>getObj()</h2>
  <p>用于获取完整的数据对象。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
getObj(
  key: stirng
): any
</code>
</pre>
  <p-dataTable [value]="getObjParams">
    <p-column field="name" header="参数" [style]="{'width': '20%'}"></p-column>
    <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
    <p-column field="description" header="描述"></p-column>
  </p-dataTable>
  <div>返回值为存储值与时间。</div>

  <h2>remove()</h2>
  <p>在localStorage中删除对应key的数据。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
remove(
  key: stirng
): void
</code>
</pre>
  <p-dataTable [value]="removekParams">
    <p-column field="name" header="参数" [style]="{'width': '20%'}"></p-column>
    <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
    <p-column field="description" header="描述"></p-column>
  </p-dataTable>
  <div>返回值为空。</div>


<h2>clear()</h2>
  <p>用于清空所有localStorage中的值。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
clear(): void 
</code>
</pre>
  <div>返回值为空。</div>
</section>
