<h3 class="component-title icon_resource"><span>列表选择框</span></h3>
<p class="margin-10">列表框用于从项列表中选择一个或多个值</p>
<p-tabView>
    <p-tabPanel header="效果示例" leftIcon="icon_example">
        <section>
            <h2>文本列表单选</h2>
            <div class="example">
                <p-listbox [options]="cities" [(ngModel)]="selectedCity"></p-listbox>
                <p class="margin-t-15">Selected City: {{selectedCity}}</p>
            </div>
        </section>
        <section>
            <h2>文本列表多选（可检索）</h2>
            <div class="example">
                <p-listbox [options]="cities" [(ngModel)]="selectedCities" multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
                <p class="margin-t-15">Selected Cities: <span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c}}</span></p>
            </div>
        </section>
        <section>
            <h2>带图标文本列表单选</h2>
            <div class="example"> 
                <p-listbox [options]="cars" [(ngModel)]="selectedCar" [style]="{'width':'190px','max-height':'250px'}">
                    <ng-template let-car pTemplate="item">
                        <div class="ui-helper-clearfix" [style]="{'width':'40px'}">
                            <img src="assets/dummy-data/car/{{car.label}}.png" style="width:32px;display:inline-block;margin: 4px 0 0px 5px;"/>
                            <span style="float:right;margin: 7px 10px 0 0;">{{car.value}}</span>
                        </div>
                    </ng-template>
                </p-listbox>
                <p class="margin-t-15 margin-b-15">Selected Car: {{selectedCar}}</p>
                <button type="button" (click)="selectedCar=null" pButton icon="fa-close" label="Clear Selected Car"></button>
            </div>
        </section>
    </p-tabPanel>
    <p-tabPanel header="组件源码" leftIcon="icon_code">
        <section>
            <h2>文本列表单选</h2>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight>
&lt;p-listbox [options]="cities" [(ngModel)]="selectedCity"&gt;&lt;/p-listbox&gt;
&lt;p class="margin-t-15"&gt;Selected City: &#123;&#123;selectedCity&#125;&#125;&lt;/p&gt;
</code>
</pre>
<h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo1"></code> 
</pre>
        </section>
        <section>
            <h2>文本列表多选（可检索）</h2>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-listbox [options]="cities" [(ngModel)]="selectedCities" multiple="multiple" checkbox="checkbox" filter="filter"&gt;&lt;/p-listbox&gt;
&lt;p class="margin-t-15"&gt;Selected Cities: &lt;span *ngFor="let c of selectedCities" style="margin-right: 10px"&gt;&#123;&#123;c&#125;&#125;&lt;/span&gt;&lt;/p&gt;
</code>
</pre>
<h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo2"></code> 
</pre>
        </section>
        <section>
            <h2>带图标文本列表单选</h2>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-listbox [options]="cars" [(ngModel)]="selectedCar" [style]="&#123;'width':'190px','max-height':'250px'&#125;"&gt;
	&lt;ng-template let-car pTemplate="item"&gt;
		&lt;div class="ui-helper-clearfix"&gt;
			&lt;img src="assets/dummy-data/car/&#123;&#123;car.label&#125;&#125;.png" style="width:32px;display:inline-block;margin: 4px 0 4px 5px;"/&gt;
			&lt;span style="float:right;margin: 7px 10px 0 0;"&gt;&#123;&#123;car.value&#125;&#125;&lt;/span&gt;
		&lt;/div&gt;
	&lt;/ng-template&gt;
&lt;/p-listbox&gt;
&lt;p class="margin-t-15 margin-b-15"&gt;Selected Car: &#123;&#123;selectedCar&#125;&#125;&lt;/p&gt;
&lt;button type="button" (click)="selectedCar=null" pButton icon="fa-close" label="Clear Selected Car"&gt;&lt;/button&gt;
</code>
</pre>
<h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo3"></code> 
</pre>
        </section>
    </p-tabPanel>
    <p-tabPanel header="使用说明" leftIcon="icon_explorer">
        <section>
            <h2>资源文件引入</h2>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight>
import &#123;FormWidgetsModule&#125; from '../../../widgets';
</code>
</pre>
        </section>
        <section>
            <h2>使用</h2>
            <h3>1. 双向绑定</h3>
            <p>使用ng模型定义双向值绑定，列表框需要一组选项，其中每个选项应遵循定义标签值属性的“选定项”界面。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-listbox [options]="cities" [(ngModel)]="selectedCity"&gt;&lt;/p-listbox&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo1"></code> 
</pre>
            <h3 class="margin-t-40">2. 选择</h3>
            <p>列表框允许选择单个或多个项目，而复选框选项显示一个复选框来指示多个选择。在单一情况下，模型应该是单个对象引用，而在多种情况下应该是一个数组。可以使用metaKey或根据默认情况下为true的metaKeySelection属性值的值单独切换多个项目。启用触控功能的设备将会自动关闭MetKeySelection。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-listbox [options]="cities" [(ngModel)]="selectedCities"&gt;&lt;/p-listbox&gt;
</code>
</pre>
    <h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo2"></code> 
</pre>
            <h3 class="margin-t-40">3. 过滤</h3>
            <p>过滤允许使用头部的输入字段在列表中搜索项目。可以听过启用过滤器属性使用过滤功能。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-listbox [options]="cities" [(ngModel)]="selectedCities" filter="filter"&gt;&lt;/p-listbox&gt;
</code>
</pre>
            <h3 class="margin-t-40">4. 模型驱动形式</h3>
            <p>Listbox也可以在模型驱动的窗体中使用。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-listbox [options]="cities" formControlName="cities"&gt;&lt;/p-listbox&gt;
</code>
</pre>
            <h3 class="margin-t-40">5. 自定义内容</h3>
            <p>默认情况下，选项的标签用作项目的显示文本，对于自定义内容支持，可以定义ng模板，其中本地ng模板变量引用到选项集合中的选项。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-listbox [options]="cars" [(ngModel)]="selectedCar" style="width:190px"&gt;
    &lt;ng-template let-car let-i="index" pTemplate="item"&gt;
        &lt;div class="ui-helper-clearfix"&gt;
            &lt;img src="assets/showcase/images/demo/car/&#123;&#123;car.label&#125;&#125;.png" style="display:inline-block;margin:5px 0 0 5px" width="48"&gt;
            &lt;span style="font-size:20px;float:right;margin:15px 10px 0 0"&gt;&#123;&#123;i&#125;&#125; - &#123;&#123;car.value&#125;&#125;&lt;/span&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-listbox&gt;
</code>
</pre>
    <h5>TS代码示例</h5>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo3"></code> 
</pre>
            </section>
        <section>
            <h2>属性</h2>
            <p-dataTable [value]="attributes">
                <p-column field="name" header="名称"></p-column>
                <p-column field="type" header="类型"></p-column>
                <p-column field="default" header="默认值"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>事件</h2>
            <p-dataTable [value]="eventsList">
                <p-column field="name" header="名称"></p-column>
                <p-column field="parameters" header="参数"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>样式</h2>
            <p>以下是结构样式类的列表，针对主题样式的样式类</p>
            <p-dataTable [value]="styleList">
                <p-column field="name" header="名称"></p-column>
                <p-column field="element" header="元素"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>依赖</h2>
            <p>无</p>
        </section>
    </p-tabPanel>
</p-tabView>