<h3 class="component-title icon_resource"><span>tab按钮</span></h3>
<p class="margin-10">SelectButton用于使用按钮从列表中选择单个或多个项目。</p>
<p-tabView>
    <p-tabPanel header="效果示例" leftIcon="icon_example">
        <section>
            <h2>默认不选中</h2>
            <div class="example">
                <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
                <p class="margin-t-15">Selected Type: {{selectedType}}</p>
            </div>
        </section>  
        <section>
            <h2>默认选中</h2>
            <div class="example">
                <p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple"></p-selectButton>
                <p class="margin-t-15 margin-b-15">Selected Types: <span *ngFor="let type of selectedTypes">{{type}} </span></p>
                <button type="button" (click)="clear()" pButton icon="fa-close" label="Clear"></button>
            </div> 
        </section>  
    </p-tabPanel>
    <p-tabPanel header="组件源码" leftIcon="icon_code">
        <section>
            <h2>默认不选中</h2>
            <h5>HTML代码示例</h5>
            <pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-selectButton [options]="types" [(ngModel)]="selectedType"&gt;&lt;/p-selectButton&gt;
&lt;p class="margin-t-15"&gt;Selected Type: &#123;&#123;selectedType&#125;&#125;&lt;/p&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo1"></code>
</pre>
        </section>
        <section>
            <h2>默认不中（可一键清除选中</h2>
            <h5>HTML代码示例</h5>
            <pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple"&gt;&lt;/p-selectButton&gt;
&lt;p class="margin-t-15 margin-b-15"&gt;Selected Types: &lt;span *ngFor="let type of selectedTypes"&gt;&#123;&#123;type&#125;&#125; &lt;/span&gt;&lt;/p&gt;
&lt;button type="button" (click)="clear()" pButton icon="fa-close" label="Clear"&gt;&lt;/button&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo2"></code>
</pre>
        </section>
    </p-tabPanel>
    <p-tabPanel header="使用说明" leftIcon="icon_explorer">
        <section>
            <h2>资源文件引入</h2>
<pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight>
import &#123;FormWidgetsModule&#125; from '../../../widgets';
</code>
</pre>
        </section>
        <section>
            <h2>使用</h2>
            <h3>1. 双向绑定</h3>
            <p>使用ngModel定义双向值绑定，selectbutton需要一个选项集合，其中每个选项应遵循如示例中的cities集合中定义标签值属性的规则。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-selectButton [options]="cities" [(ngModel)]="selectedCity"&gt;&lt;/p-selectButton&gt;
</code>
</pre>
            <h5>TS代码示例</h5>
            <pre>
<code class="language-javascript" ngNonBindable kyeeCodeHighLight [innerHtml]="tsDemo1"></code>
</pre>
            <h3 class="margin-t-10">2. 多值</h3>
            <p>SelectButton允许默认情况下仅选择一个项目，而多个选项可以选择多个项目。 在多种情况下，model属性应该是不为null或未定义的数组实例。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-selectButton [options]="cities" [(ngModel)]="selectedCities"&gt;&lt;/p-selectButton&gt;
</code>
</pre>
            <h2 class="margin-t-10">3. 模型驱动形式</h2>
            <p>SelectButton也可以用于模型驱动形式。</p>
            <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-selectButton [options]="cities" formControlName="selectedCity"&gt;&lt;/p-selectButton&gt;
</code>
</pre>
        </section>
        <section>
            <h2>属性</h2>
            <p-dataTable [value]="attributes">
                <p-column field="name" header="名称"></p-column>
                <p-column field="type" header="类型"></p-column>
                <p-column field="default" header="默认值"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>事件</h2>
            <p-dataTable [value]="eventsList">
                <p-column field="name" header="名称"></p-column>
                <p-column field="parameters" header="参数"></p-column>
                <p-column field="description" header="描述"></p-column>
            </p-dataTable>
        </section>
        <section>
            <h2>依赖</h2>
            <p>无</p>
        </section>
    </p-tabPanel>
</p-tabView>
