<h3 class="component-title icon_resource"><span>RouterService</span></h3>
<p>【说明】RouterService用于控制页面路由，实现页面跳转。</p>
<section>
  <div>RouterService提供接口方法包括：url、gotoPage()、goBack()、getParamsCallBack()、getParamsSnapshot()</div>
  <div>详情如下：</div>
  <h2>url</h2>
  <p>用于提交get请求。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
get url(): string
</code>
</pre>
  <div>返回值为当前路由地址。</div>

  <h2>gotoPage()</h2>
  <p>用于路由跳转。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
gotoPage(
  url: string,
  params: Object = &#123; &#125;
): void
</code>
</pre>
  <p-dataTable [value]="gotoPageParams">
    <p-column field="name" header="参数" [style]="{'width': '20%'}"></p-column>
    <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
    <p-column field="description" header="描述"></p-column>
  </p-dataTable>
  <div>返回值为空。</div>

  <h2>goBack()</h2>
  <p>用于调用页面后退。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
goBack(): void
</code>
</pre>
  <div>返回值为空。</div>

  <h2>getParamsCallBack()</h2>
  <p>用于通过回调获取当前路由参数。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
getParamsCallBack(
   func: Function = () => &#123; &#125;
): void 
</code>
</pre>
  <p-dataTable [value]="getParamsCallBackParams">
    <p-column field="name" header="参数" [style]="{'width': '20%'}"></p-column>
    <p-column field="type" header="类型" [style]="{'width': '20%'}"></p-column>
    <p-column field="description" header="描述"></p-column>
  </p-dataTable>
  <div>返回值为空。</div>

  <h2>getParamsSnapshot()</h2>
  <p>获取当前路由参数快照。方法入参如下：</p>
<pre>
<code class="language-typescript" ngNonBindable kyeeCodeHighLight>
getParamsSnapshot(): any
</code>
</pre>
  <div>返回值为获得的当前路由参数对象。</div>
</section>