.sidebar {
  padding: 10px 0px;
  background-color: #ffffff;
  color: #3c4144;
  font: 400 14px/2 "Microsoft YaHei",helvetica, arial, verdana, sans-serif;
  li {
    list-style: none;
  }
  li:hover {
    cursor: pointer;
    background-color: #eeeeee;
    transition: all .5s ease;
  }
  i {
    margin-right: 5px;
    font-size: 16px;
  }
  .sidebar-title {
    height: 50px;
    line-height: 50px;
  }
  .ul-parent {
    padding-left: 0px;
    overflow: auto;
    height: calc(100% - 70px);
    >li {
      padding-left: 10px;
      border-left: solid transparent 4px;
    }
    .ul-child {
      padding-left: 10px;
      i {
        font-size: 14px;
      }
      .ul-grandchild {
        li {
          line-height: 1;
          margin-bottom: 15px;
        }
        margin: 10px 0px 10px 20px;
        padding-left: 10px;
        border-left: dotted #3c4144 2px;
      }
    }
    .ul-child.submenu-show{
      padding-bottom: 6px;
    }
  }
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.submenu-show {
  max-height: 1500px;
  visibility: visible;
  opacity: 1;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

}

.submenu-hide {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  overflow: hidden;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
