<h3 class="component-title icon_resource"><span>数据选择</span></h3>
<p class="margin-10">【简介】表格支持数据的单选和多选两种模式。只需要将表格的 selectionMode 属性设置为‘single’或者‘multiple’即可。</p>
<p class="margin-10">【说明】被选择的数据存储在 selection 属性上，所以访问该属性可以获得被选择的数据。</p>
<p-tabView>
  <p-tabPanel header="效果示例" leftIcon="icon_example">
<!-- <div class="content-section implementation"> -->
  <p-growl [value]="msgs"></p-growl>
  <section>
    <h2>事件（Events）</h2>
    <p>DataTable 支持 onRowSelect 和 onRowUnselect 两种回调事件。</p>
    <p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar2" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
      dataKey="vin">
      <p-header>Selection with Events</p-header>
      <p-column field="vin" header="Vin"></p-column>
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
    </p-dataTable>
  </section>
  <section>
    <h2>单选按钮（RadioButton）</h2>
    <p>单选模式下，可以添加额外的一列实现 RadioButton 的效果。需要将该列的 selectionMode 设置为‘single’</p>
    <p-dataTable [value]="cars" [(selection)]="selectedCar3" dataKey="vin">
      <p-header>Single Selection</p-header>
      <p-footer>
        <div style="text-align: left">Selected Car: {{selectedCar3 ? selectedCar3.vin + ' - ' + selectedCar3.brand + ' - ' + selectedCar3.year + ' - '
          + selectedCar3.color: 'none'}}</div>
      </p-footer>
      <p-column [style]="&#123;'width':'38px'&#125;" selectionMode="single"></p-column>
      <p-column field="vin" header="Vin"></p-column>
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
    </p-dataTable>
  </section>
  <section>
    <h2>多选框（Checkbox）</h2>
    <p>多选模式下，可以添加额外的一列实现 Checkbox 的效果。需要将该列的 selectionMode 设置为‘multiple’</p>
    <p-dataTable [value]="cars" [(selection)]="selectedCars2" dataKey="vin">
      <p-header>Checkbox Selection</p-header>
      <p-column [style]="&#123;'width':'38px'&#125;" selectionMode="multiple"></p-column>
      <p-column field="vin" header="Vin"></p-column>
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
      <p-footer>
        <ul>
          <li *ngFor="let car of selectedCars2" style="text-align: left">{{car.vin + ' - ' + car.brand + ' - ' + car.year + ' - ' + car.color}}</li>
        </ul>
      </p-footer>
    </p-dataTable>
  </section>

  <section>
    <h2>分页和多选框组合（Checkbox with Paging）</h2>
    <p>
      多选模式下，配合分页一起使用的时候，点击头部的checkbox默认选中的只是当前页面的数据，其他页面的数据时未选中的状态。 可以将 headerCheckboxToggleAllPages 属性设置为‘true’实现真正意义上的数据全选效果，即任何一个页面点击头部的checkbox全选按钮，所有页面的数据都是被选中的状态。
      需要注意的，这种情况下，页面切换的时候，头部的checkbox一直是选中的状态。
    </p>
    <p-dataTable [value]="cars" [(selection)]="selectedCars3" dataKey="vin" [paginator]="true" [rows]="5" [headerCheckboxToggleAllPages]="false">
      <p-header>Checkbox Multiple Selection with Paging</p-header>
      <p-column [style]="&#123;'width':'38px'&#125;" selectionMode="multiple"></p-column>
      <p-column field="vin" header="Vin"></p-column>
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
      <p-footer>
        <ul>
          <li *ngFor="let car of selectedCars3" style="text-align: left">{{car.vin + ' - ' + car.brand + ' - ' + car.year + ' - ' + car.color}}</li>
        </ul>
      </p-footer>
    </p-dataTable>
  </section>
<!-- </div> -->

  </p-tabPanel>

  <p-tabPanel header="组件源码" leftIcon="icon_code">
    <section>
      <h5>HTML代码示例</h5>
<pre>
<code class="language-markup" kyeeCodeHighLight ngNonBindable>
&lt;p-growl [value]="msgs"&gt;&lt;/p-growl&gt;

&lt;h3&gt;Events&lt;/h3&gt;
&lt;p&gt;DataTable provides onRowSelect and onRowUnselect as optional callbacks.&lt;/p&gt;
&lt;p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar2" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="vin"&gt;
    &lt;p-header&gt;Selection with Events&lt;/p-header&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;h3&gt;RadioButton&lt;/h3&gt;
&lt;p&gt;Single selection can also be handled using radio buttons by enabling the selectionMode property of column as "single".&lt;/p&gt;
&lt;p-dataTable [value]="cars" [(selection)]="selectedCar3" dataKey="vin"&gt;
    &lt;p-header&gt;Single Selection&lt;/p-header&gt;
    &lt;p-footer&gt;&lt;div style="text-align: left"&gt;Selected Car: {{selectedCar3 ? selectedCar3.vin + ' - ' + selectedCar3.brand + ' - ' + selectedCar3.year + ' - ' + selectedCar3.color: 'none'}}&lt;/div&gt;&lt;/p-footer&gt;
    &lt;p-column [style]="&#123;'width':'38px'&#125;" selectionMode="single"&gt;&lt;/p-column&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;h3&gt;Checkbox&lt;/h3&gt;
&lt;p&gt;Multiple selection can also be handled using checkboxes by enabling the selectionMode property of column as "multiple".&lt;/p&gt;
&lt;p-dataTable [value]="cars" [(selection)]="selectedCars2" dataKey="vin"&gt;
    &lt;p-header&gt;Checkbox Selection&lt;/p-header&gt;
    &lt;p-column [style]="&#123;'width':'38px'&#125;" selectionMode="multiple"&gt;&lt;/p-column&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
    &lt;p-footer&gt;
        &lt;ul&gt;
            &lt;li *ngFor="let car of selectedCars2" style="text-align: left"&gt;{{car.vin + ' - ' + car.brand + ' - ' + car.year + ' - ' + car.color}}&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/p-footer&gt;
&lt;/p-dataTable&gt;
    
&lt;h3&gt;Checkbox with Paging&lt;/h3&gt;
&lt;p&gt; 
    When using checkboxes for multiple selection with paging and clicking the header checkbox, by default, items on all 
    other pages will be deselected and only the current page's items will be toggled. Often, the more desired approach
    is to toggle all items across all pages. This can be accomplished by setting the 
    "headerCheckboxToggleAllPages" property to "true" on your paged DataTable. Notice how the header
    checkbox only stays checked when all items across all pages are selected. 
&lt;/p&gt;
&lt;p-dataTable [value]="cars" [(selection)]="selectedCars3" dataKey="vin" [paginator]="true" [rows]="5" [headerCheckboxToggleAllPages]="true"&gt;
    &lt;p-header&gt;Checkbox Multiple Selection with Paging&lt;/p-header&gt;
    &lt;p-column [style]="&#123;'width':'38px'&#125;" selectionMode="multiple"&gt;&lt;/p-column&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
    &lt;p-footer&gt;
        &lt;ul&gt;
            &lt;li *ngFor="let car of selectedCars3" style="text-align: left"&gt;{{car.vin + ' - ' + car.brand + ' - ' + car.year + ' - ' + car.color}}&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/p-footer&gt;
&lt;/p-dataTable&gt;
</code>
</pre>
    </section>

    <section>
      <h5>TS代码示例</h5>
<pre>
<code class="language-typescript" kyeeCodeHighLight ngNonBindable>
export class DataTableSelectionDemo implements OnInit &#123;

    msgs: Message[];

    cars: Car[];

    selectedCar1: Car;

    selectedCar2: Car;
    
    selectedCar3: Car;

    selectedCars1: Car[];
    
    selectedCars2: Car[];
    
    selectedCars3: Car[];

    constructor(private carService: CarService) &#123; &#125;

    ngOnInit() &#123;
        this.carService.getCarsSmall().then(cars => this.cars = cars);
    &#125;

    onRowSelect(event) &#123;
        this.msgs = [];
        this.msgs.push(&#123;severity: 'info', summary: 'Car Selected', detail: event.data.vin + ' - ' + event.data.brand&#125;);
    &#125;

    onRowUnselect(event) &#123;
        this.msgs = [];
        this.msgs.push(&#123;severity: 'info', summary: 'Car Unselected', detail: event.data.vin + ' - ' + event.data.brand&#125;);
    &#125;
&#125;
</code>
</pre>      
    </section>
  </p-tabPanel>

  <p-tabPanel header="使用说明" leftIcon="icon_explorer">
  
  </p-tabPanel>
</p-tabView>